# Tabular Data

### Creating a DF

In [1]:
import pandas as pd
df = pd.DataFrame({'Col1':[1,2,3,4], 'Col2':[5, 6, 7, 8]})  # Pass in a dict
df

   Col1  Col2
0     1     5
1     2     6
2     3     7
3     4     8

In [2]:
import pandas as pd
import numpy as np
arr = np.array([[1,2,3], [4,5,6]])  # ndArray
df = pd.DataFrame(arr)
df

df.columns = ['a', 'b', 'c']  # Name the column
df
df = pd.DataFrame(arr, columns=['a', 'b', 'c'])  
df
df = pd.DataFrame(arr, index=['z', 'x'], columns=['a', 'b', 'c'])  # Name indices
df

   a  b  c
z  1  2  3
x  4  5  6

In [3]:
# Renaming
df.columns = ['q', 'r', 's']  # Pass in the list, has to be the correct size
df

   q  r  s
z  1  2  3
x  4  5  6

### Importing a DF

In [4]:
import yfinance as yf
tsla = yf.Ticker("TSLA")
tslaData = tsla.history(period="max")
tslaData.head()  # Top 5 rows

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [5]:
tslaData.shape  # number of rows and columns

(2594, 7)

In [6]:
tslaData.index

DatetimeIndex(['2010-06-29', '2010-06-30', '2010-07-01', '2010-07-02',
               '2010-07-06', '2010-07-07', '2010-07-08', '2010-07-09',
               '2010-07-12', '2010-07-13',
               ...
               '2020-10-02', '2020-10-05', '2020-10-06', '2020-10-07',
               '2020-10-08', '2020-10-09', '2020-10-12', '2020-10-13',
               '2020-10-14', '2020-10-15'],
              dtype='datetime64[ns]', name='Date', length=2594, freq=None)

In [7]:
tslaData.reset_index()  # Date becomes a column and index has row number

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
3,2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...,...
2589,2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2590,2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2591,2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2592,2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2593,2020-10-15,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

In [8]:
tslaData.axes

[DatetimeIndex(['2010-06-29', '2010-06-30', '2010-07-01', '2010-07-02',
                '2010-07-06', '2010-07-07', '2010-07-08', '2010-07-09',
                '2010-07-12', '2010-07-13',
                ...
                '2020-10-02', '2020-10-05', '2020-10-06', '2020-10-07',
                '2020-10-08', '2020-10-09', '2020-10-12', '2020-10-13',
                '2020-10-14', '2020-10-15'],
               dtype='datetime64[ns]', name='Date', length=2594, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')]

In [9]:
display(tslaData)
print('\n\n')
display(tslaData.to_numpy())  # convert it to an ndarray

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2020-10-15,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

array([[3.79999995e+00, 5.00000000e+00, 3.50799990e+00, ...,
        9.38315000e+07, 0.00000000e+00, 0.00000000e+00],
       [5.15799999e+00, 6.08400011e+00, 4.65999985e+00, ...,
        8.59355000e+07, 0.00000000e+00, 0.00000000e+00],
       [5.00000000e+00, 5.18400002e+00, 4.05399990e+00, ...,
        4.10940000e+07, 0.00000000e+00, 0.00000000e+00],
       ...,
       [4.43350006e+02, 4.48890015e+02, 4.36600006e+02, ...,
        3.44637000e+07, 0.00000000e+00, 0.00000000e+00],
       [4.49779999e+02, 4.65899994e+02, 4.47350006e+02, ...,
        4.80454000e+07, 0.00000000e+00, 0.00000000e+00],
       [4.50309998e+02, 4.56570007e+02, 4.42500000e+02, ...,
        3.55542000e+07, 0.00000000e+00, 0.00000000e+00]])

In [10]:
tslaData.describe()  # Aggregate columns with default statistics

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,2594.000000,2594.000000,2594.000000,2594.000000,2.594000e+03,2594.0,2594.000000
mean,51.254029,52.389317,50.091417,51.305136,3.124951e+07,0.0,0.001928
std,64.222579,66.214010,62.184532,64.416241,2.893558e+07,0.0,0.098171
min,3.228000,3.326000,2.996000,3.160000,5.925000e+05,0.0,0.000000
25%,7.192500,7.321000,7.014000,7.200500,1.062262e+07,0.0,0.000000
50%,44.115002,44.759998,43.390999,44.000000,2.446325e+07,0.0,0.000000
75%,59.572500,60.754500,58.409999,59.551999,4.049200e+07,0.0,0.000000
max,502.140015,502.489990,470.510010,498.320007,3.046940e+08,0.0,5.000000

In [11]:
#tslaData.sort_values(by='Volume', ascending=False, kind='mergesort', axis=0)
tslaData.sort_values(by='2010-06-30', ascending=False, kind='mergesort', axis=1)  # sort the dataframe, axis=0 -> operate on row

,Volume,High,Open,Close,Low,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,93831500,5.000000,3.800000,4.778000,3.508000,0,0.0
2010-06-30,85935500,6.084000,5.158000,4.766000,4.660000,0,0.0
2010-07-01,41094000,5.184000,5.000000,4.392000,4.054000,0,0.0
2010-07-02,25699000,4.620000,4.600000,3.840000,3.742000,0,0.0
2010-07-06,34334500,4.000000,4.000000,3.222000,3.166000,0,0.0
...,...,...,...,...,...,...,...
2020-10-09,28925700,434.589996,430.130005,434.000000,426.459991,0,0.0
2020-10-12,38791100,448.739990,442.000000,442.299988,438.579987,0,0.0
2020-10-13,34463700,448.890015,443.350006,446.649994,436.600006,0,0.0
2020-10-14,48045400,465.899994,449.779999,461.299988,447.350006,0,0.0
2020-10-15,35554200,456.570007,450.309998,448.880005,442.500000,0,0.0

In [12]:
tslaData.isna()  # whether or not there's a null value
tslaData.dropna()  # drop rows that has null value, useful for data cleaning

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2020-10-15,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

In [13]:
#dct = tslaData.to_dict()
dct = tslaData.to_dict(orient='list')  # convert dataframe to dictionary
#display(dct)
pd.DataFrame.from_dict(dct)  # reload the dict originally from the df and recreate the df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
3,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
4,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2589,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2590,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2591,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2592,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2593,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

### Slicing

In [14]:
tslaData = tslaData.reset_index()

In [15]:
# Slicing
tslaData[2:5]

        Date  Open   High    Low  Close    Volume  Dividends  Stock Splits
2 2010-07-01   5.0  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02   4.6  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06   4.0  4.000  3.166  3.222  34334500          0           0.0

In [16]:
tslaData[-2:]  # data from the last 2 row

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
2592,2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2593,2020-10-15,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

In [17]:
tslaData['Open'][2]  # give 2nd value from the 'Open' column

5.0

In [18]:
tslaData['Open'][0]

3.799999952316284

In [19]:
tslaData[['Open', 'Close']]  #see multiple columns

            Open       Close
0       3.800000    4.778000
1       5.158000    4.766000
2       5.000000    4.392000
3       4.600000    3.840000
4       4.000000    3.222000
...          ...         ...
2589  430.130005  434.000000
2590  442.000000  442.299988
2591  443.350006  446.649994
2592  449.779999  461.299988
2593  450.309998  448.880005

[2594 rows x 2 columns]

In [20]:
tslaData.loc[2:5,'Close']  # see row 2:5 from 'Close' column

2    4.392
3    3.840
4    3.222
5    3.160
Name: Close, dtype: float64

In [21]:
tslaData.iloc[:,3]  # similar to loc but require a numeric index, i.e. 3 instead of 'Close'

0         3.508000
1         4.660000
2         4.054000
3         3.742000
4         3.166000
           ...
2589    426.459991
2590    438.579987
2591    436.600006
2592    447.350006
2593    442.500000
Name: Low, Length: 2594, dtype: float64

### Filtering

In [22]:
len(tslaData)  # how many rows

2594

In [23]:
tslaData[tslaData.Volume > 1e7]  # only see row where the volume exceed 10^7

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
3,2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...,...
2589,2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2590,2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2591,2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2592,2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2593,2020-10-15,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

In [24]:
tslaData[(tslaData.Volume > 1e7)&(tslaData.Open < tslaData.Close)]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
6,2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0
9,2010-07-13,3.478000,3.728000,3.380000,3.628000,13400500,0,0.0
10,2010-07-14,3.588000,4.030000,3.552000,3.968000,20976000,0,0.0
13,2010-07-19,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0
...,...,...,...,...,...,...,...,...
2587,2020-10-07,419.869995,429.899994,413.850006,425.299988,43127700,0,0.0
2589,2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2590,2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2591,2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2592,2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0

In [25]:
tslaData.loc[lambda x: x.index % 2 == 0]  # slice using a callable (lambda)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
6,2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0
8,2010-07-12,3.590000,3.614000,3.400000,3.410000,11012500,0,0.0
...,...,...,...,...,...,...,...,...
2584,2020-10-02,421.390015,439.130005,415.000000,415.089996,71430000,0,0.0
2586,2020-10-06,423.790009,428.779999,406.049988,413.980011,49146300,0,0.0
2588,2020-10-08,438.440002,439.000000,425.299988,425.920013,40421100,0,0.0
2590,2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2592,2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0

In [26]:
import pandas as pd
import yfinance as yf

## Data Manipulation

In [9]:
tsla = yf.Ticker("TSLA")
tslaData = tsla.history(period="max")

msft = yf.Ticker("MSFT")
msftData = msft.history(period="max")

In [28]:
display(tslaData)

display(msftData)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2020-10-15,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1031788800,0.0,0.0
1986-03-14,0.062055,0.065379,0.062055,0.064271,308160000,0.0,0.0
1986-03-17,0.064271,0.065933,0.064271,0.065379,133171200,0.0,0.0
1986-03-18,0.065379,0.065933,0.063163,0.063717,67766400,0.0,0.0
1986-03-19,0.063717,0.064271,0.062055,0.062609,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-10-09,211.229996,215.860001,211.229996,215.809998,26458000,0.0,0.0
2020-10-12,218.789993,223.860001,216.809998,221.399994,40461400,0.0,0.0
2020-10-13,222.720001,225.210007,220.429993,222.860001,28950800,0.0,0.0
2020-10-14,223.000000,224.220001,219.130005,220.860001,23451700,0.0,0.0
2020-10-15,217.100006,220.360001,216.009995,219.660004,22718400,0.0,0.0

In [10]:
# reverse pivot, id_vars = what you want to hold constant. Take the column value and turn into a row
# optional: var_name and value_name to rename
melted = tslaData.reset_index().melt(id_vars=['Date'], var_name="Attribute", value_name="Value")
melted

            Date     Attribute  Value
0     2010-06-29          Open  3.800
1     2010-06-30          Open  5.158
2     2010-07-01          Open  5.000
3     2010-07-02          Open  4.600
4     2010-07-06          Open  4.000
...          ...           ...    ...
18167 2020-10-13  Stock Splits  0.000
18168 2020-10-14  Stock Splits  0.000
18169 2020-10-15  Stock Splits  0.000
18170 2020-10-16  Stock Splits  0.000
18171 2020-10-19  Stock Splits  0.000

[18172 rows x 3 columns]

In [15]:
pivoted = melted.pivot(index='Date', columns='Attribute')  # Reverse melt state to pivot state
pivoted = pivoted['Value'].reset_index()
pivoted.columns.name = None
pivoted

,Date,Close,Dividends,High,Low,Open,Stock Splits,Volume
0,2010-06-29,4.778000,0.0,5.000000,3.508000,3.800000,0.0,93831500.0
1,2010-06-30,4.766000,0.0,6.084000,4.660000,5.158000,0.0,85935500.0
2,2010-07-01,4.392000,0.0,5.184000,4.054000,5.000000,0.0,41094000.0
3,2010-07-02,3.840000,0.0,4.620000,3.742000,4.600000,0.0,25699000.0
4,2010-07-06,3.222000,0.0,4.000000,3.166000,4.000000,0.0,34334500.0
...,...,...,...,...,...,...,...,...
2591,2020-10-13,446.649994,0.0,448.890015,436.600006,443.350006,0.0,34463700.0
2592,2020-10-14,461.299988,0.0,465.899994,447.350006,449.779999,0.0,48045400.0
2593,2020-10-15,448.880005,0.0,456.570007,442.500000,450.309998,0.0,35672400.0
2594,2020-10-16,439.670013,0.0,455.950012,438.850006,454.440002,0.0,32775900.0
2595,2020-10-19,430.829987,0.0,447.000000,428.869995,446.239990,0.0,36124500.0

In [31]:
tslaData['Ticker'] = 'TSLA'  # can also pass in a list to assign different values for each rows.
msftData['Ticker'] = 'MSFT'
allData = pd.concat([tslaData, msftData], axis=0)  # Stack them in a single table, concat take a list of data frame. Axis = 1, stack them side by side (horizontally)
allData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
Date,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0.0,0.0,TSLA
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0.0,0.0,TSLA
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0.0,0.0,TSLA
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0.0,0.0,TSLA
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0.0,0.0,TSLA
...,...,...,...,...,...,...,...,...
2020-10-09,211.229996,215.860001,211.229996,215.809998,26458000,0.0,0.0,MSFT
2020-10-12,218.789993,223.860001,216.809998,221.399994,40461400,0.0,0.0,MSFT
2020-10-13,222.720001,225.210007,220.429993,222.860001,28950800,0.0,0.0,MSFT
2020-10-14,223.000000,224.220001,219.130005,220.860001,23451700,0.0,0.0,MSFT
2020-10-15,217.100006,220.360001,216.009995,219.660004,22718400,0.0,0.0,MSFT

In [32]:
import numpy as np
allData.pivot_table(index = ['Ticker'], columns=[], values=['Open', 'Close'], aggfunc=np.std) # also np.mean and others

            Close       Open
Ticker
MSFT    36.960719  36.945707
TSLA    64.416241  64.222579

In [66]:
# Pass in the column you want to groupby and do an aggregation
allData.groupby(by=['Date', 'Ticker']).sum() # Also see as_index=False

                         Open        High         Low       Close     Volume  \
Date       Ticker
1986-03-13 MSFT      0.056514    0.064825    0.056514    0.062055  1031.7888
1986-03-14 MSFT      0.062055    0.065379    0.062055    0.064271   308.1600
1986-03-17 MSFT      0.064271    0.065933    0.064271    0.065379   133.1712
1986-03-18 MSFT      0.065379    0.065933    0.063163    0.063717    67.7664
1986-03-19 MSFT      0.063717    0.064271    0.062055    0.062609    47.8944
...                       ...         ...         ...         ...        ...
2020-10-13 TSLA    443.350006  448.890015  436.600006  446.649994    34.4637
2020-10-14 MSFT    223.000000  224.220001  219.130005  220.860001    23.4517
           TSLA    449.779999  465.899994  447.350006  461.299988    48.0454
2020-10-15 MSFT    217.100006  220.360001  216.009995  219.660004    22.7184
           TSLA    450.309998  456.570007  442.500000  448.880005    35.5542

                   Dividends  Stock Splits  Daily Gain %  Daily_Gain  \
Date       Ticker
1986-03-13 MSFT          0.0           0.0      9.803927    0.005541
1986-03-14 MSFT          0.0           0.0      3.571430    0.002216
1986-03-17 MSFT          0.0           0.0      1.724131    0.001108
1986-03-18 MSFT          0.0           0.0     -2.542371   -0.001662
1986-03-19 MSFT          0.0           0.0     -1.739131   -0.001108
...                      ...           ...           ...         ...
2020-10-13 TSLA          0.0           0.0      0.000000    0.000000
2020-10-14 MSFT          0.0           0.0     -0.959641   -2.139999
           TSLA          0.0           0.0      0.000000    0.000000
2020-10-15 MSFT          0.0           0.0      1.179179    2.559998
           TSLA          0.0           0.0      0.000000    0.000000

                   TickerAvgVolume
Date       Ticker
1986-03-13 MSFT          60.009023
1986-03-14 MSFT          60.009023
1986-03-17 MSFT          60.009023
1986-03-18 MSFT          60.009023
1986-03-19 MSFT          60.009023
...                            ...
2020-10-13 TSLA          31.249511
2020-10-14 MSFT          60.009023
           TSLA          31.249511
2020-10-15 MSFT          60.009023
           TSLA          31.249511

[11315 rows x 10 columns]

In [34]:
# Custom aggregation
from scipy import stats
# We want to use stats.sem (standard error). Can also create your own function
allData.groupby(by=['Ticker']).agg({'Open': stats.sem, 'Close':np.sum}) # Can customize by column as well

            Open          Close
Ticker
MSFT    0.395622  234732.822972
TSLA    1.260964  133085.523901

### Joins

In [67]:
tsla = yf.Ticker("TSLA")
tslaData = tsla.history(period="max")

msft = yf.Ticker("MSFT")
msftData = msft.history(period="max")

In [68]:
# taking subset of the data
tslaData = tslaData[tslaData.Open<tslaData.Close]
msftData = msftData[msftData.Open<msftData.Close]

In [72]:
# Join on the indices from the left hand table (msft in this case, right hand is tsla)
x = msftData.join(tslaData, how='left', rsuffix='_tsla', lsuffix='_msft') # left, right, outer, inner
x.dropna()  # Drop the NaN values

,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla
Date,,,,,,,,,,,,,,
2010-07-19,19.670458,19.938405,19.631055,19.883240,38181800,0.0,0.0,4.274000,4.450000,4.184000,4.382000,12432500.0,0.0,0.0
2010-07-22,20.103902,20.482179,20.072378,20.363968,73016400,0.0,0.0,4.100000,4.250000,4.074000,4.200000,4789000.0,0.0,0.0
2010-08-02,20.482181,20.789531,20.293042,20.750128,55044600,0.0,0.0,4.100000,4.194000,4.066000,4.184000,3590500.0,0.0,0.0
2010-08-13,19.189732,19.441917,19.103043,19.229136,45263500,0.0,0.0,3.636000,3.690000,3.532000,3.664000,3170000.0,0.0,0.0
2010-08-16,19.197607,19.394627,19.150321,19.307938,40909700,0.0,0.0,3.690000,3.760000,3.652000,3.756000,2429000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-05,207.220001,210.410004,206.979996,210.380005,21331600,0.0,0.0,423.350006,433.640015,419.329987,425.679993,44722800.0,0.0,0.0
2020-10-07,207.059998,210.110001,206.720001,209.830002,25681100,0.0,0.0,419.869995,429.899994,413.850006,425.299988,43127700.0,0.0,0.0
2020-10-09,211.229996,215.860001,211.229996,215.809998,26458000,0.0,0.0,430.130005,434.589996,426.459991,434.000000,28925700.0,0.0,0.0
2020-10-12,218.789993,223.860001,216.809998,221.399994,40461400,0.0,0.0,442.000000,448.739990,438.579987,442.299988,38791100.0,0.0,0.0
2020-10-13,222.720001,225.210007,220.429993,222.860001,28950800,0.0,0.0,443.350006,448.890015,436.600006,446.649994,34463700.0,0.0,0.0

In [73]:
# Inner: intesect of data. Outer = union of data
msftData.join(tslaData, how='outer', rsuffix='_tsla', lsuffix='_msft') # left, right, outer, inner

,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla
Date,,,,,,,,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1.031789e+09,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-14,0.062055,0.065379,0.062055,0.064271,3.081600e+08,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-17,0.064271,0.065933,0.064271,0.065379,1.331712e+08,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-25,0.057623,0.058731,0.057068,0.058731,3.208320e+07,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-26,0.058731,0.060947,0.058177,0.060393,2.275200e+07,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-09,211.229996,215.860001,211.229996,215.809998,2.645800e+07,0.0,0.0,430.130005,434.589996,426.459991,434.000000,28925700.0,0.0,0.0
2020-10-12,218.789993,223.860001,216.809998,221.399994,4.046140e+07,0.0,0.0,442.000000,448.739990,438.579987,442.299988,38791100.0,0.0,0.0
2020-10-13,222.720001,225.210007,220.429993,222.860001,2.895080e+07,0.0,0.0,443.350006,448.890015,436.600006,446.649994,34463700.0,0.0,0.0
2020-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,449.779999,465.899994,447.350006,461.299988,48045400.0,0.0,0.0
2020-10-15,217.100006,220.360001,216.009995,219.660004,2.271840e+07,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
msftData.reset_index().join(tslaData, on='Date', how='right', lsuffix='_tsla', rsuffix='_msft') # left, right, outer, inner

,Date,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft
2978.0,2010-07-19,19.670458,19.938405,19.631055,19.883240,38181800.0,0.0,0.0,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0
2980.0,2010-07-22,20.103902,20.482179,20.072378,20.363968,73016400.0,0.0,0.0,4.100000,4.250000,4.074000,4.200000,4789000,0,0.0
2984.0,2010-08-02,20.482181,20.789531,20.293042,20.750128,55044600.0,0.0,0.0,4.100000,4.194000,4.066000,4.184000,3590500,0,0.0
2989.0,2010-08-13,19.189732,19.441917,19.103043,19.229136,45263500.0,0.0,0.0,3.636000,3.690000,3.532000,3.664000,3170000,0,0.0
2990.0,2010-08-16,19.197607,19.394627,19.150321,19.307938,40909700.0,0.0,0.0,3.690000,3.760000,3.652000,3.756000,2429000,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402.809998,428.000000,372.019989,418.320007,110321900,0,0.0
NaN,2020-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,439.869995,457.790009,435.309998,441.760010,72279300,0,0.0
NaN,2020-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,416.000000,428.500000,411.600006,419.070007,50219300,0,0.0
NaN,2020-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.760010,448.880005,434.420013,448.160004,50741500,0,0.0
NaN,2020-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0

In [39]:
tslaData.merge(msftData, how='left', left_on='Date', right_on='Date', suffixes=['_tsla', '_msft'])  # more flexible

,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft
Date,,,,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-13,3.478000,3.728000,3.380000,3.628000,13400500,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-14,3.588000,4.030000,3.552000,3.968000,20976000,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-19,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0,19.670458,19.938405,19.631055,19.883240,38181800.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-07,419.869995,429.899994,413.850006,425.299988,43127700,0,0.0,207.059998,210.110001,206.720001,209.830002,25681100.0,0.0,0.0
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0,211.229996,215.860001,211.229996,215.809998,26458000.0,0.0,0.0
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0,218.789993,223.860001,216.809998,221.399994,40461400.0,0.0,0.0
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0,222.720001,225.210007,220.429993,222.860001,28950800.0,0.0,0.0
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
pd.merge_asof(msftData, tslaData, left_on='Date', right_on='Date', suffixes=['_msft', '_tsla'], direction='nearest')  # useful for timeseries, try to join on on the closest data

,Date,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla
0,1986-03-13,0.056514,0.064825,0.056514,0.062055,1031788800,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,1986-03-14,0.062055,0.065379,0.062055,0.064271,308160000,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2,1986-03-17,0.064271,0.065933,0.064271,0.065379,133171200,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
3,1986-03-25,0.057623,0.058731,0.057068,0.058731,32083200,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
4,1986-03-26,0.058731,0.060947,0.058177,0.060393,22752000,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4303,2020-10-08,210.509995,211.190002,208.320007,210.580002,19925800,0.0,0.0,419.869995,429.899994,413.850006,425.299988,43127700,0,0.0
4304,2020-10-09,211.229996,215.860001,211.229996,215.809998,26458000,0.0,0.0,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
4305,2020-10-12,218.789993,223.860001,216.809998,221.399994,40461400,0.0,0.0,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
4306,2020-10-13,222.720001,225.210007,220.429993,222.860001,28950800,0.0,0.0,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
4307,2020-10-15,217.100006,220.360001,216.009995,219.660004,22718400,0.0,0.0,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0

### MultiIndex

In [2]:
import yfinance as yf
tickers = yf.Tickers('msft aapl goog tsla')
hist = tickers.history(group_by="ticker")

[*********************100%***********************]  4 of 4 completed

In [3]:
hist.head()

                  TSLA                                                 \
                  Open        High         Low       Close     Volume
Date
2020-09-21  453.130005  455.679993  407.070007  449.390015  109476800
2020-09-22  429.600006  437.760010  417.600006  424.230011   79580800
2020-09-23  405.160004  412.149994  375.880005  380.359985   95074200
2020-09-24  363.799988  399.500000  351.299988  387.790009   96561100
2020-09-25  393.470001  408.730011  391.299988  407.339996   67208500

                                         AAPL                          ...  \
           Dividends Stock Splits        Open        High         Low  ...
Date                                                                   ...
2020-09-21         0            0  104.540001  110.190002  103.099998  ...
2020-09-22         0            0  112.680000  112.860001  109.160004  ...
2020-09-23         0            0  111.620003  112.110001  106.769997  ...
2020-09-24         0            0  105.169998  110.250000  105.000000  ...
2020-09-25         0            0  108.430000  112.440002  107.669998  ...

                MSFT                                GOOG               \
              Volume Dividends Stock Splits         Open         High
Date
2020-09-21  39839700         0            0  1440.060059  1448.359985
2020-09-22  33517100         0            0  1450.089966  1469.520020
2020-09-23  30803800         0            0  1458.780029  1460.959961
2020-09-24  31202500         0            0  1411.030029  1443.708984
2020-09-25  29437300         0            0  1432.630005  1450.000000


                    Low        Close   Volume Dividends Stock Splits
Date
2020-09-21  1406.550049  1431.160034  2888800         0            0
2020-09-22  1434.530029  1465.459961  1583200         0            0
2020-09-23  1407.699951  1415.209961  1657400         0            0
2020-09-24  1409.849976  1428.290039  1450200         0            0
2020-09-25  1413.339966  1444.959961  1323000         0            0

[5 rows x 28 columns]

In [4]:
hist.columns

MultiIndex([('TSLA',         'Open'),
            ('TSLA',         'High'),
            ('TSLA',          'Low'),
            ('TSLA',        'Close'),
            ('TSLA',       'Volume'),
            ('TSLA',    'Dividends'),
            ('TSLA', 'Stock Splits'),
            ('AAPL',         'Open'),
            ('AAPL',         'High'),
            ('AAPL',          'Low'),
            ('AAPL',        'Close'),
            ('AAPL',       'Volume'),
            ('AAPL',    'Dividends'),
            ('AAPL', 'Stock Splits'),
            ('MSFT',         'Open'),
            ('MSFT',         'High'),
            ('MSFT',          'Low'),
            ('MSFT',        'Close'),
            ('MSFT',       'Volume'),
            ('MSFT',    'Dividends'),
            ('MSFT', 'Stock Splits'),
            ('GOOG',         'Open'),
            ('GOOG',         'High'),
            ('GOOG',          'Low'),
            ('GOOG',        'Close'),
            ('GOOG',       'Volume'),
            ('GOOG',    'Dividends'),
            ('GOOG', 'Stock Splits')],
           )

In [5]:
hist.shape

(21, 28)

In [45]:
hist

                   GOOG                                                  \
                   Open         High          Low        Close   Volume
Date
2020-09-16  1555.540039  1562.000000  1519.819946  1520.900024  1311700
2020-09-17  1496.000000  1508.297974  1470.000000  1495.530029  1879800
2020-09-18  1498.010010  1503.003052  1437.130005  1459.989990  3103900
2020-09-21  1440.060059  1448.359985  1406.550049  1431.160034  2888800
2020-09-22  1450.089966  1469.520020  1434.530029  1465.459961  1583200
2020-09-23  1458.780029  1460.959961  1407.699951  1415.209961  1657400
2020-09-24  1411.030029  1443.708984  1409.849976  1428.290039  1450200
2020-09-25  1432.630005  1450.000000  1413.339966  1444.959961  1323000
2020-09-28  1474.209961  1476.800049  1449.301025  1464.520020  2007900
2020-09-29  1470.390015  1476.662964  1458.805054  1469.329956   978200
2020-09-30  1466.800049  1489.750000  1459.880005  1469.599976  1700600
2020-10-01  1484.270020  1499.040039  1479.209961  1490.089966  1779500
2020-10-02  1462.030029  1483.199951  1450.920044  1458.420044  1284100
2020-10-05  1466.209961  1488.209961  1464.270020  1486.020020  1113300
2020-10-06  1475.579956  1486.760010  1448.589966  1453.439941  1245400
2020-10-07  1464.290039  1468.959961  1436.000000  1460.290039  1746200
2020-10-08  1465.089966  1490.000000  1465.089966  1485.930054  1187800
2020-10-09  1494.699951  1516.520020  1489.449951  1515.219971  1435300
2020-10-12  1543.000000  1593.859985  1532.569946  1569.150024  2482600
2020-10-13  1583.729980  1590.000000  1563.199951  1571.680054  1601000
2020-10-14  1578.589966  1587.683960  1550.530029  1568.079956  1931000
2020-10-15  1547.150024  1575.104980  1545.030029  1559.130005  1540000

                                         TSLA                          ...  \
           Dividends Stock Splits        Open        High         Low  ...
Date                                                                   ...
2020-09-16         0            0  439.869995  457.790009  435.309998  ...
2020-09-17         0            0  415.600006  437.790009  408.000000  ...
2020-09-18         0            0  447.940002  451.000000  428.799988  ...
2020-09-21         0            0  453.130005  455.679993  407.070007  ...
2020-09-22         0            0  429.600006  437.760010  417.600006  ...
2020-09-23         0            0  405.160004  412.149994  375.880005  ...
2020-09-24         0            0  363.799988  399.500000  351.299988  ...
2020-09-25         0            0  393.470001  408.730011  391.299988  ...
2020-09-28         0            0  424.619995  428.079987  415.549988  ...
2020-09-29         0            0  416.000000  428.500000  411.600006  ...
2020-09-30         0            0  421.320007  433.929993  420.470001  ...
2020-10-01         0            0  440.760010  448.880005  434.420013  ...
2020-10-02         0            0  421.390015  439.130005  415.000000  ...
2020-10-05         0            0  423.350006  433.640015  419.329987  ...
2020-10-06         0            0  423.790009  428.779999  406.049988  ...
2020-10-07         0            0  419.869995  429.899994  413.850006  ...
2020-10-08         0            0  438.440002  439.000000  425.299988  ...
2020-10-09         0            0  430.130005  434.589996  426.459991  ...
2020-10-12         0            0  442.000000  448.739990  438.579987  ...
2020-10-13         0            0  443.350006  448.890015  436.600006  ...
2020-10-14         0            0  449.779999  465.899994  447.350006  ...
2020-10-15         0            0  450.309998  456.570007  442.500000  ...

                MSFT                               AAPL              \
              Volume Dividends Stock Splits        Open        High
Date
2020-09-16  26328100         0            0  115.230003  116.000000
2020-09-17  34011300         0            0  109.720001  112.199997
2020-09-18  55225300         0            0  110.400002  110.879997
2020-09-21  39839700         0            0  104.540001  110.190002
2020-09-22  33517100         0            0  112.680000  112.860001
2020-09-23  30803800         0            0  111.620003  112.110001
2020-09-24  31202500         0            0  105.169998  110.250000
2020-09-25  29437300         0            0  108.430000  112.440002
2020-09-28  32004900         0            0  115.010002  115.320000
2020-09-29  24221900         0            0  114.550003  115.309998
2020-09-30  33780700         0            0  113.790001  117.260002
2020-10-01  27158400         0            0  117.639999  117.720001
2020-10-02  33154800         0            0  112.889999  115.370003
2020-10-05  21331600         0            0  113.910004  116.650002
2020-10-06  28554300         0            0  115.699997  116.120003
2020-10-07  25681100         0            0  114.620003  115.550003
2020-10-08  19925800         0            0  116.250000  116.400002
2020-10-09  26458000         0            0  115.279999  117.000000
2020-10-12  40461400         0            0  120.059998  125.180000
2020-10-13  28950800         0            0  125.269997  125.389999
2020-10-14  23451700         0            0  121.000000  123.029999
2020-10-15  22718400         0            0  118.720001  121.199997


                   Low       Close     Volume Dividends Stock Splits
Date
2020-09-16  112.040001  112.129997  154679000         0            0
2020-09-17  108.709999  110.339996  178011000         0            0
2020-09-18  106.089996  106.839996  287104900         0            0
2020-09-21  103.099998  110.080002  195713800         0            0
2020-09-22  109.160004  111.809998  183055400         0            0
2020-09-23  106.769997  107.120003  150718700         0            0
2020-09-24  105.000000  108.220001  167743300         0            0
2020-09-25  107.669998  112.279999  149981400         0            0
2020-09-28  112.779999  114.959999  137672400         0            0
2020-09-29  113.570000  114.089996   99382200         0            0
2020-09-30  113.620003  115.809998  142675200         0            0
2020-10-01  115.830002  116.790001  116120400         0            0
2020-10-02  112.220001  113.019997  144712000         0            0
2020-10-05  113.550003  116.500000  106243800         0            0
2020-10-06  112.250000  113.160004  161498200         0            0
2020-10-07  114.129997  115.080002   96849000         0            0
2020-10-08  114.589996  114.970001   83477200         0            0
2020-10-09  114.919998  116.970001  100506900         0            0
2020-10-12  119.279999  124.400002  240226800         0            0
2020-10-13  119.650002  121.099998  262330500         0            0
2020-10-14  119.620003  121.190002  151062300         0            0
2020-10-15  118.150002  120.709999  112224600         0            0

[22 rows x 28 columns]

In [6]:
# Stack the table
hist.stack(level=0).reset_index().rename(columns = {'level_1':'Ticker'})

# Rename column level_1

,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume
0,2020-09-21,AAPL,110.080002,0,110.190002,103.099998,104.540001,0,195713800
1,2020-09-21,GOOG,1431.160034,0,1448.359985,1406.550049,1440.060059,0,2888800
2,2020-09-21,MSFT,202.539993,0,202.710007,196.380005,197.190002,0,39839700
3,2020-09-21,TSLA,449.390015,0,455.679993,407.070007,453.130005,0,109476800
4,2020-09-22,AAPL,111.809998,0,112.860001,109.160004,112.680000,0,183055400
...,...,...,...,...,...,...,...,...,...
79,2020-10-16,TSLA,439.670013,0,455.950012,438.850006,454.440002,0,32775900
80,2020-10-19,AAPL,115.980003,0,120.419998,115.660004,119.959999,0,120221600
81,2020-10-19,GOOG,1534.609985,0,1588.150024,1528.000000,1580.459961,0,1606500
82,2020-10-19,MSFT,214.220001,0,222.300003,213.720001,220.419998,0,27591900
83,2020-10-19,TSLA,430.829987,0,447.000000,428.869995,446.239990,0,36124500

In [7]:
hist.stack(level=0).unstack()

                 Close                                      Dividends       \
                  AAPL         GOOG        MSFT        TSLA      AAPL GOOG
Date
2020-09-21  110.080002  1431.160034  202.539993  449.390015         0    0
2020-09-22  111.809998  1465.459961  207.419998  424.230011         0    0
2020-09-23  107.120003  1415.209961  200.589996  380.359985         0    0
2020-09-24  108.220001  1428.290039  203.190002  387.790009         0    0
2020-09-25  112.279999  1444.959961  207.820007  407.339996         0    0
2020-09-28  114.959999  1464.520020  209.440002  421.200012         0    0
2020-09-29  114.089996  1469.329956  207.259995  419.070007         0    0
2020-09-30  115.809998  1469.599976  210.330002  429.010010         0    0
2020-10-01  116.790001  1490.089966  212.460007  448.160004         0    0
2020-10-02  113.019997  1458.420044  206.190002  415.089996         0    0
2020-10-05  116.500000  1486.020020  210.380005  425.679993         0    0
2020-10-06  113.160004  1453.439941  205.910004  413.980011         0    0
2020-10-07  115.080002  1460.290039  209.830002  425.299988         0    0
2020-10-08  114.970001  1485.930054  210.580002  425.920013         0    0
2020-10-09  116.970001  1515.219971  215.809998  434.000000         0    0
2020-10-12  124.400002  1569.150024  221.399994  442.299988         0    0
2020-10-13  121.099998  1571.680054  222.860001  446.649994         0    0
2020-10-14  121.190002  1568.079956  220.860001  461.299988         0    0
2020-10-15  120.709999  1559.130005  219.660004  448.880005         0    0
2020-10-16  119.019997  1573.010010  219.660004  439.670013         0    0
2020-10-19  115.980003  1534.609985  214.220001  430.829987         0    0

                            High               ...        Open              \
           MSFT TSLA        AAPL         GOOG  ...        MSFT        TSLA
Date                                           ...
2020-09-21    0    0  110.190002  1448.359985  ...  197.190002  453.130005
2020-09-22    0    0  112.860001  1469.520020  ...  205.059998  429.600006
2020-09-23    0    0  112.110001  1460.959961  ...  207.899994  405.160004
2020-09-24    0    0  110.250000  1443.708984  ...  199.850006  363.799988
2020-09-25    0    0  112.440002  1450.000000  ...  203.550003  393.470001
2020-09-28    0    0  115.320000  1476.800049  ...  210.880005  424.619995
2020-09-29    0    0  115.309998  1476.662964  ...  209.350006  416.000000
2020-09-30    0    0  117.260002  1489.750000  ...  207.729996  421.320007
2020-10-01    0    0  117.720001  1499.040039  ...  213.490005  440.760010
2020-10-02    0    0  115.370003  1483.199951  ...  208.000000  421.390015
2020-10-05    0    0  116.650002  1488.209961  ...  207.220001  423.350006
2020-10-06    0    0  116.120003  1486.760010  ...  208.820007  423.790009
2020-10-07    0    0  115.550003  1468.959961  ...  207.059998  419.869995
2020-10-08    0    0  116.400002  1490.000000  ...  210.509995  438.440002
2020-10-09    0    0  117.000000  1516.520020  ...  211.229996  430.130005
2020-10-12    0    0  125.180000  1593.859985  ...  218.789993  442.000000
2020-10-13    0    0  125.389999  1590.000000  ...  222.720001  443.350006
2020-10-14    0    0  123.029999  1587.683960  ...  223.000000  449.779999
2020-10-15    0    0  121.199997  1575.104980  ...  217.100006  450.309998
2020-10-16    0    0  121.550003  1581.130005  ...  220.149994  454.440002
2020-10-19    0    0  120.419998  1588.150024  ...  220.419998  446.239990

           Stock Splits                    Volume                     \
                   AAPL GOOG MSFT TSLA       AAPL     GOOG      MSFT
Date
2020-09-21            0    0    0    0  195713800  2888800  39839700
2020-09-22            0    0    0    0  183055400  1583200  33517100
2020-09-23            0    0    0    0  150718700  1657400  30803800
2020-09-24            0    0    0    0  167743300  1450200  31202500
2020-09-25            0    0    0    0  149981400  1323000  29437300
2020-09-28            0    0    0    0  137672400  2007900  32004900
2020-09-29            0    0    0    0   99382200   978200  24221900
2020-09-30            0    0    0    0  142675200  1700600  33780700
2020-10-01            0    0    0    0  116120400  1779500  27158400
2020-10-02            0    0    0    0  144712000  1284100  33154800
2020-10-05            0    0    0    0  106243800  1113300  21331600
2020-10-06            0    0    0    0  161498200  1245400  28554300
2020-10-07            0    0    0    0   96849000  1746200  25681100
2020-10-08            0    0    0    0   83477200  1187800  19925800
2020-10-09            0    0    0    0  100506900  1435300  26458000
2020-10-12            0    0    0    0  240226800  2482600  40461400
2020-10-13            0    0    0    0  262330500  1601000  28950800
2020-10-14            0    0    0    0  151062300  1931000  23451700
2020-10-15            0    0    0    0  112559200  1540000  22733100
2020-10-16            0    0    0    0  115393800  1434700  26057900
2020-10-19            0    0    0    0  120221600  1606500  27591900


                 TSLA
Date
2020-09-21  109476800
2020-09-22   79580800
2020-09-23   95074200
2020-09-24   96561100
2020-09-25   67208500
2020-09-28   49719600
2020-09-29   50219300
2020-09-30   48145600
2020-10-01   50741500
2020-10-02   71430000
2020-10-05   44722800
2020-10-06   49146300
2020-10-07   43127700
2020-10-08   40421100
2020-10-09   28925700
2020-10-12   38791100
2020-10-13   34463700
2020-10-14   48045400
2020-10-15   35672400
2020-10-16   32775900
2020-10-19   36124500

[21 rows x 28 columns]

## Transformations

In [48]:
import pandas as pd
import yfinance as yf
tsla = yf.Ticker("TSLA")
tslaData = tsla.history(period="max")

msft = yf.Ticker("MSFT")
msftData = msft.history(period="max")

In [49]:
# Calculated columns
msftData['Daily Gain %'] = 100*(msftData['Close']-msftData['Open'])/msftData['Open'] # Approach 1 (preferred generally)
msftData = msftData.assign(Daily_Gain=lambda x:x['Close']-x['Open']) # Approach 2

msftData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Daily Gain %,Daily_Gain
Date,,,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1031788800,0.0,0.0,9.803927,0.005541
1986-03-14,0.062055,0.065379,0.062055,0.064271,308160000,0.0,0.0,3.571430,0.002216
1986-03-17,0.064271,0.065933,0.064271,0.065379,133171200,0.0,0.0,1.724131,0.001108
1986-03-18,0.065379,0.065933,0.063163,0.063717,67766400,0.0,0.0,-2.542371,-0.001662
1986-03-19,0.063717,0.064271,0.062055,0.062609,47894400,0.0,0.0,-1.739131,-0.001108
...,...,...,...,...,...,...,...,...,...
2020-10-09,211.229996,215.860001,211.229996,215.809998,26458000,0.0,0.0,2.168254,4.580002
2020-10-12,218.789993,223.860001,216.809998,221.399994,40461400,0.0,0.0,1.192925,2.610001
2020-10-13,222.720001,225.210007,220.429993,222.860001,28950800,0.0,0.0,0.062859,0.139999
2020-10-14,223.000000,224.220001,219.130005,220.860001,23451700,0.0,0.0,-0.959641,-2.139999
2020-10-15,217.100006,220.360001,216.009995,219.660004,22718400,0.0,0.0,1.179179,2.559998

In [50]:
tslaData.apply(lambda x:x*1e-6)  # scale back every column by 1e-6

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,0.000004,0.000005,0.000004,0.000005,93.8315,0.0,0.0
2010-06-30,0.000005,0.000006,0.000005,0.000005,85.9355,0.0,0.0
2010-07-01,0.000005,0.000005,0.000004,0.000004,41.0940,0.0,0.0
2010-07-02,0.000005,0.000005,0.000004,0.000004,25.6990,0.0,0.0
2010-07-06,0.000004,0.000004,0.000003,0.000003,34.3345,0.0,0.0
...,...,...,...,...,...,...,...
2020-10-09,0.000430,0.000435,0.000426,0.000434,28.9257,0.0,0.0
2020-10-12,0.000442,0.000449,0.000439,0.000442,38.7911,0.0,0.0
2020-10-13,0.000443,0.000449,0.000437,0.000447,34.4637,0.0,0.0
2020-10-14,0.000450,0.000466,0.000447,0.000461,48.0454,0.0,0.0
2020-10-15,0.000450,0.000457,0.000442,0.000449,35.5542,0.0,0.0

In [51]:
tslaData['Volume'] = tslaData['Volume'].apply(lambda x:x*1e-6)  # scale back the volume column bby 1e-6
tslaData

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0,0.0
...,...,...,...,...,...,...,...
2020-10-09,430.130005,434.589996,426.459991,434.000000,28.9257,0,0.0
2020-10-12,442.000000,448.739990,438.579987,442.299988,38.7911,0,0.0
2020-10-13,443.350006,448.890015,436.600006,446.649994,34.4637,0,0.0
2020-10-14,449.779999,465.899994,447.350006,461.299988,48.0454,0,0.0
2020-10-15,450.309998,456.570007,442.500000,448.880005,35.5542,0,0.0

In [74]:
msftData['Volume'] = msftData['Volume'].transform(lambda x:x*1e-6)  # simple case, not much different from apply
msftData

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1031.7888,0.0,0.0
1986-03-14,0.062055,0.065379,0.062055,0.064271,308.1600,0.0,0.0
1986-03-17,0.064271,0.065933,0.064271,0.065379,133.1712,0.0,0.0
1986-03-25,0.057623,0.058731,0.057068,0.058731,32.0832,0.0,0.0
1986-03-26,0.058731,0.060947,0.058177,0.060393,22.7520,0.0,0.0
...,...,...,...,...,...,...,...
2020-10-08,210.509995,211.190002,208.320007,210.580002,19.9258,0.0,0.0
2020-10-09,211.229996,215.860001,211.229996,215.809998,26.4580,0.0,0.0
2020-10-12,218.789993,223.860001,216.809998,221.399994,40.4614,0.0,0.0
2020-10-13,222.720001,225.210007,220.429993,222.860001,28.9508,0.0,0.0
2020-10-15,217.100006,220.360001,216.009995,219.660004,22.7184,0.0,0.0

In [53]:
tslaData['Ticker'] = 'TSLA'
msftData['Ticker'] = 'MSFT'
allData = pd.concat([tslaData, msftData], axis=0)  # combine tsla and msft data to a single dataframe

In [77]:
grouped = allData.groupby(['Ticker']).agg({'Volume': np.sum})  # sum total volume by the ticker
grouped

             Volume
Ticker
MSFT    523338.6871
TSLA     81061.2308

In [78]:
grouped = allData.groupby(['Ticker']).transform(np.sum)  # place it back to the original table, maintain table structure
grouped

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Daily Gain %,Daily_Gain,TickerAvgVolume
Date,,,,,,,,,,
2010-06-29,132952.952120,135897.888107,129937.136043,133085.523901,81061.2308,0.00,5.0,0.000000,0.000000,81061.2308
2010-06-30,132952.952120,135897.888107,129937.136043,133085.523901,81061.2308,0.00,5.0,0.000000,0.000000,81061.2308
2010-07-01,132952.952120,135897.888107,129937.136043,133085.523901,81061.2308,0.00,5.0,0.000000,0.000000,81061.2308
2010-07-02,132952.952120,135897.888107,129937.136043,133085.523901,81061.2308,0.00,5.0,0.000000,0.000000,81061.2308
2010-07-06,132952.952120,135897.888107,129937.136043,133085.523901,81061.2308,0.00,5.0,0.000000,0.000000,81061.2308
...,...,...,...,...,...,...,...,...,...,...
2020-10-09,234668.687067,237166.955768,232112.644185,234732.822972,523338.6871,19.15,17.0,600.046874,64.135906,523338.6871
2020-10-12,234668.687067,237166.955768,232112.644185,234732.822972,523338.6871,19.15,17.0,600.046874,64.135906,523338.6871
2020-10-13,234668.687067,237166.955768,232112.644185,234732.822972,523338.6871,19.15,17.0,600.046874,64.135906,523338.6871
2020-10-14,234668.687067,237166.955768,232112.644185,234732.822972,523338.6871,19.15,17.0,600.046874,64.135906,523338.6871
2020-10-15,234668.687067,237166.955768,232112.644185,234732.822972,523338.6871,19.15,17.0,600.046874,64.135906,523338.6871

In [55]:
#allData['TickerAvgVolume'] = allData.groupby(['Ticker']).agg({'Volume': 'sum'}) # doesnt work
# For each ticker, what's the average volume is and put that volume back to the table
allData.join(allData.groupby(['Ticker']).agg({'Volume': 'mean'}).rename(columns={'Volume':'TickerAvgVolume'}), on='Ticker')

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Daily Gain %,Daily_Gain,TickerAvgVolume
Date,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0.0,0.0,TSLA,NaN,NaN,31.249511
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-09,211.229996,215.860001,211.229996,215.809998,26.4580,0.0,0.0,MSFT,2.168254,4.580002,60.009023
2020-10-12,218.789993,223.860001,216.809998,221.399994,40.4614,0.0,0.0,MSFT,1.192925,2.610001,60.009023
2020-10-13,222.720001,225.210007,220.429993,222.860001,28.9508,0.0,0.0,MSFT,0.062859,0.139999,60.009023
2020-10-14,223.000000,224.220001,219.130005,220.860001,23.4517,0.0,0.0,MSFT,-0.959641,-2.139999,60.009023
2020-10-15,217.100006,220.360001,216.009995,219.660004,22.7184,0.0,0.0,MSFT,1.179179,2.559998,60.009023

In [56]:
allData.join(allData.groupby(['Ticker']).agg({'Volume': 'mean'}).rename(columns={'Volume':'TickerAvgVolume'}), on='Ticker')

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Daily Gain %,Daily_Gain,TickerAvgVolume
Date,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0.0,0.0,TSLA,NaN,NaN,31.249511
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-09,211.229996,215.860001,211.229996,215.809998,26.4580,0.0,0.0,MSFT,2.168254,4.580002,60.009023
2020-10-12,218.789993,223.860001,216.809998,221.399994,40.4614,0.0,0.0,MSFT,1.192925,2.610001,60.009023
2020-10-13,222.720001,225.210007,220.429993,222.860001,28.9508,0.0,0.0,MSFT,0.062859,0.139999,60.009023
2020-10-14,223.000000,224.220001,219.130005,220.860001,23.4517,0.0,0.0,MSFT,-0.959641,-2.139999,60.009023
2020-10-15,217.100006,220.360001,216.009995,219.660004,22.7184,0.0,0.0,MSFT,1.179179,2.559998,60.009023

In [57]:
allData.groupby(['Ticker']).transform('mean')[['Volume']] # vs agg

               Volume
Date
2010-06-29  31.249511
2010-06-30  31.249511
2010-07-01  31.249511
2010-07-02  31.249511
2010-07-06  31.249511
...               ...
2020-10-09  60.009023
2020-10-12  60.009023
2020-10-13  60.009023
2020-10-14  60.009023
2020-10-15  60.009023

[11315 rows x 1 columns]

In [58]:
# Cleaner!
allData['TickerAvgVolume'] = allData.groupby(['Ticker']).transform('mean')[['Volume']].rename(columns={'Volume':'TickerAvgVolume'})
allData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Daily Gain %,Daily_Gain,TickerAvgVolume
Date,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0.0,0.0,TSLA,NaN,NaN,31.249511
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0.0,0.0,TSLA,NaN,NaN,31.249511
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-09,211.229996,215.860001,211.229996,215.809998,26.4580,0.0,0.0,MSFT,2.168254,4.580002,60.009023
2020-10-12,218.789993,223.860001,216.809998,221.399994,40.4614,0.0,0.0,MSFT,1.192925,2.610001,60.009023
2020-10-13,222.720001,225.210007,220.429993,222.860001,28.9508,0.0,0.0,MSFT,0.062859,0.139999,60.009023
2020-10-14,223.000000,224.220001,219.130005,220.860001,23.4517,0.0,0.0,MSFT,-0.959641,-2.139999,60.009023
2020-10-15,217.100006,220.360001,216.009995,219.660004,22.7184,0.0,0.0,MSFT,1.179179,2.559998,60.009023

### Time Series

#### Timestamps

In [59]:
# Using datetime
import datetime
import pytz

dateToConvert = datetime.datetime(2020,7,1,15,31,24) # This is a 'naive' time without timezone
dateToConvert

datetime.datetime(2020, 7, 1, 15, 31, 24)

In [60]:
dateToConvert.astimezone(pytz.UTC) # Set to UTC, Time stays the same
#dateToConvert.astimezone(pytz.timezone('US/Eastern')) # Set to Eastern, Time stays the same

datetime.datetime(2020, 7, 1, 22, 31, 24, tzinfo=<UTC>)

In [61]:
pytz.timezone('US/Eastern').localize(dateToConvert)

datetime.datetime(2020, 7, 1, 15, 31, 24, tzinfo=<DstTzInfo 'US/Eastern' EDT-1 day, 20:00:00 DST>)

In [62]:
#dateToConvert = dateToConvert.astimezone(pytz.UTC)
# localize take the original datetime and localize to the specified timezone
pytz.timezone('America/Chicago').localize(dateToConvert).astimezone(pytz.UTC) # America/Chicago

datetime.datetime(2020, 7, 1, 20, 31, 24, tzinfo=<UTC>)

In [63]:
start = pd.to_datetime('2015-01-01')  # convert string to an np.datetime64
end = pd.to_datetime('2018-01-01')

def random_dates(start, end, n=10):

    start_u = start.value//10**9
    end_u = end.value//10**9

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')

dates = random_dates(start, end, 1000000)
pyDates = list(dates.to_pydatetime())

In [64]:
pyDates

[datetime.datetime(2016, 8, 23, 20, 24, 2),
 datetime.datetime(2015, 3, 2, 9, 44, 12),
 datetime.datetime(2016, 10, 26, 23, 46, 1),
 datetime.datetime(2017, 10, 20, 21, 24, 25),
 datetime.datetime(2015, 11, 21, 11, 40, 7),
 datetime.datetime(2016, 10, 17, 22, 12, 8),
 datetime.datetime(2015, 9, 5, 7, 44, 11),
 datetime.datetime(2016, 6, 30, 11, 11, 5),
 datetime.datetime(2015, 10, 9, 12, 32, 3),
 datetime.datetime(2017, 12, 10, 19, 28, 2),
 datetime.datetime(2015, 12, 4, 13, 53, 30),
 datetime.datetime(2015, 11, 20, 23, 49, 53),
 datetime.datetime(2015, 6, 13, 22, 13, 31),
 datetime.datetime(2017, 10, 25, 7, 48, 40),
 datetime.datetime(2016, 2, 6, 20, 42, 15),
 datetime.datetime(2016, 9, 17, 18, 12, 51),
 datetime.datetime(2015, 7, 6, 7, 5, 40),
 datetime.datetime(2017, 4, 22, 9, 40, 39),
 datetime.datetime(2017, 9, 12, 22, 51, 54),
 datetime.datetime(2015, 2, 16, 12, 52, 4),
 datetime.datetime(2015, 3, 16, 16, 48, 30),
 datetime.datetime(2017, 2, 9, 12, 23, 28),
 datetime.datetime(2016, 9, 6, 4, 8, 11),
 datetime.datetime(2016, 2, 27, 2, 35, 21),
 datetime.datetime(2015, 4, 22, 16, 16, 16),
 datetime.datetime(2017, 1, 11, 12, 37, 16),
 datetime.datetime(2015, 7, 25, 2, 47, 12),
 datetime.datetime(2016, 12, 24, 2, 13, 12),
 datetime.datetime(2016, 5, 24, 9, 13, 5),
 datetime.datetime(2017, 12, 22, 7, 28, 36),
 datetime.datetime(2017, 10, 29, 16, 8, 18),
 datetime.datetime(2017, 5, 26, 14, 41, 29),
 datetime.datetime(2016, 3, 28, 8, 44, 8),
 datetime.datetime(2015, 9, 10, 22, 22, 9),
 datetime.datetime(2016, 10, 11, 8, 53, 18),
 datetime.datetime(2017, 9, 10, 10, 21, 36),
 datetime.datetime(2017, 12, 25, 6, 22, 1),
 datetime.datetime(2017, 10, 25, 15, 28, 50),
 datetime.datetime(2015, 7, 20, 18, 1, 25),
 datetime.datetime(2016, 11, 27, 8, 46, 4),
 datetime.datetime(2017, 2, 19, 21, 52, 22),
 datetime.datetime(2016, 9, 4, 21, 2, 18),
 datetime.datetime(2017, 1, 27, 22, 48, 31),
 datetime.datetime(2016, 12, 20, 1, 11, 11),
 datetime.datetime(2017, 4, 23, 1, 27, 6),
 datetime.datetime(2017, 12, 27, 18, 26, 46),
 datetime.datetime(2016, 11, 14, 18, 16, 59),
 datetime.datetime(2016, 10, 3, 20, 59, 9),
 datetime.datetime(2015, 7, 18, 4, 2, 36),
 datetime.datetime(2015, 11, 28, 9, 45, 16),
 datetime.datetime(2016, 11, 26, 17, 6, 50),
 datetime.datetime(2015, 7, 13, 23, 26),
 datetime.datetime(2016, 8, 1, 18, 38, 27),
 datetime.datetime(2015, 5, 22, 7, 15, 41),
 datetime.datetime(2016, 11, 3, 7, 30, 5),
 datetime.datetime(2015, 5, 30, 9, 17, 39),
 datetime.datetime(2016, 2, 1, 23, 7, 16),
 datetime.datetime(2016, 2, 8, 13, 58, 17),
 datetime.datetime(2016, 11, 20, 17, 0, 33),
 datetime.datetime(2017, 3, 16, 3, 34, 31),
 datetime.datetime(2015, 11, 23, 2, 59, 56),
 datetime.datetime(2017, 11, 19, 8, 23, 25),
 datetime.datetime(2017, 2, 28, 19, 33, 39),
 datetime.datetime(2015, 7, 14, 4, 40, 40),
 datetime.datetime(2017, 3, 3, 4, 53, 57),
 datetime.datetime(2015, 2, 25, 11, 26, 14),
 datetime.datetime(2017, 12, 13, 20, 29, 56),
 datetime.datetime(2016, 9, 8, 20, 29, 5),
 datetime.datetime(2017, 12, 2, 11, 43, 39),
 datetime.datetime(2016, 1, 18, 14, 17, 38),
 datetime.datetime(2017, 9, 22, 11, 54, 41),
 datetime.datetime(2016, 6, 21, 0, 26, 20),
 datetime.datetime(2016, 7, 11, 11, 2, 32),
 datetime.datetime(2015, 4, 25, 11, 53, 24),
 datetime.datetime(2016, 7, 1, 18, 40, 24),
 datetime.datetime(2017, 11, 12, 18, 38, 11),
 datetime.datetime(2016, 8, 25, 3, 45, 26),
 datetime.datetime(2017, 6, 3, 16, 35, 40),
 datetime.datetime(2015, 10, 4, 2, 45, 45),
 datetime.datetime(2016, 4, 11, 1, 36, 18),
 datetime.datetime(2017, 7, 18, 19, 34, 21),
 datetime.datetime(2016, 11, 5, 1, 32, 15),
 datetime.datetime(2017, 1, 10, 9, 10, 12),
 datetime.datetime(2017, 11, 30, 20, 44, 29),
 datetime.datetime(2017, 2, 5, 11, 1, 7),
 datetime.datetime(2015, 9, 17, 2, 30, 39),
 datetime.datetime(2017, 7, 8, 10, 36, 39),
 datetime.datetime(2015, 1, 27, 12, 18, 59),
 datetime.datetime(2017, 8, 26, 13, 37, 47),
 datetime.datetime(2017, 10, 17, 8, 26, 56),
 datetime.datetime(2017, 4, 4, 13, 3, 58),
 datetime.datetime(2016, 1, 7, 16, 4, 5),
 datetime.datetime(2016, 12, 13, 9, 53, 20),
 datetime.datetime(2017, 12, 31, 9, 25, 36),
 datetime.datetime(2015, 1, 16, 23, 36, 25),
 datetime.datetime(2017, 6, 1, 6, 11),
 datetime.datetime(2015, 2, 17, 20, 40, 35),
 datetime.datetime(2017, 7, 8, 19, 39, 26),
 datetime.datetime(2016, 11, 29, 19, 58, 10),
 datetime.datetime(2015, 3, 5, 13, 16, 39),
 datetime.datetime(2016, 6, 18, 8, 39, 7),
 datetime.datetime(2015, 9, 9, 3, 59, 29),
 datetime.datetime(2015, 3, 19, 6, 48, 23),
 datetime.datetime(2017, 5, 23, 5, 25, 29),
 datetime.datetime(2016, 1, 27, 1, 41, 4),
 datetime.datetime(2016, 5, 26, 0, 53, 18),
 datetime.datetime(2015, 1, 28, 13, 22, 47),
 datetime.datetime(2015, 11, 15, 13, 27, 7),
 datetime.datetime(2017, 10, 24, 12, 14, 9),
 datetime.datetime(2016, 9, 30, 15, 45, 22),
 datetime.datetime(2015, 1, 19, 22, 56, 39),
 datetime.datetime(2016, 1, 21, 23, 13, 3),
 datetime.datetime(2016, 8, 22, 2, 9, 51),
 datetime.datetime(2015, 2, 22, 9, 28, 59),
 datetime.datetime(2016, 12, 28, 20, 25, 9),
 datetime.datetime(2016, 2, 4, 7, 13, 47),
 datetime.datetime(2015, 9, 23, 4, 54, 10),
 datetime.datetime(2015, 3, 15, 8, 1, 21),
 datetime.datetime(2017, 4, 12, 5, 19, 27),
 datetime.datetime(2016, 12, 30, 2, 53, 38),
 datetime.datetime(2016, 12, 16, 12, 8, 39),
 datetime.datetime(2017, 12, 30, 21, 6, 37),
 datetime.datetime(2016, 8, 24, 20, 56, 36),
 datetime.datetime(2016, 8, 13, 14, 41, 3),
 datetime.datetime(2016, 2, 23, 2, 26, 43),
 datetime.datetime(2017, 6, 28, 11, 36, 33),
 datetime.datetime(2015, 4, 18, 8, 29, 1),
 datetime.datetime(2016, 11, 2, 9, 28, 37),
 datetime.datetime(2016, 4, 28, 1, 25, 20),
 datetime.datetime(2015, 2, 12, 2, 10, 27),
 datetime.datetime(2017, 10, 11, 3, 29, 40),
 datetime.datetime(2015, 3, 13, 1, 40, 39),
 datetime.datetime(2017, 9, 20, 20, 39, 54),
 datetime.datetime(2017, 8, 18, 22, 23, 34),
 datetime.datetime(2016, 5, 10, 8, 37, 2),
 datetime.datetime(2016, 4, 7, 13, 6, 41),
 datetime.datetime(2015, 3, 3, 17, 27, 47),
 datetime.datetime(2017, 9, 2, 13, 10, 35),
 datetime.datetime(2016, 9, 5, 15, 5, 30),
 datetime.datetime(2016, 3, 2, 17, 37, 25),
 datetime.datetime(2016, 2, 21, 7, 40, 57),
 datetime.datetime(2017, 8, 29, 22, 48, 37),
 datetime.datetime(2016, 3, 18, 23, 43, 29),
 datetime.datetime(2015, 4, 18, 8, 41, 15),
 datetime.datetime(2015, 5, 5, 9, 5, 34),
 datetime.datetime(2017, 3, 12, 7, 51, 5),
 datetime.datetime(2017, 4, 1, 11, 31, 36),
 datetime.datetime(2015, 11, 3, 19, 29, 48),
 datetime.datetime(2017, 11, 19, 17, 18, 3),
 datetime.datetime(2015, 3, 10, 23, 9, 45),
 datetime.datetime(2017, 1, 10, 10, 15, 20),
 datetime.datetime(2016, 10, 31, 2, 54, 21),
 datetime.datetime(2016, 9, 4, 2, 23, 43),
 datetime.datetime(2015, 6, 23, 16, 11, 40),
 datetime.datetime(2015, 2, 8, 7, 32, 32),
 datetime.datetime(2016, 7, 17, 15, 12, 27),
 datetime.datetime(2017, 3, 16, 16, 20, 59),
 datetime.datetime(2017, 1, 9, 13, 54, 11),
 datetime.datetime(2015, 10, 21, 0, 26, 47),
 datetime.datetime(2017, 4, 22, 16, 55, 53),
 datetime.datetime(2015, 12, 5, 11, 11, 37),
 datetime.datetime(2016, 4, 15, 7, 59, 46),
 datetime.datetime(2016, 4, 5, 22, 54, 2),
 datetime.datetime(2015, 9, 17, 2, 44, 28),
 datetime.datetime(2017, 4, 7, 9, 32, 48),
 datetime.datetime(2016, 5, 8, 1, 11, 10),
 datetime.datetime(2016, 7, 18, 7, 14, 58),
 datetime.datetime(2017, 5, 14, 15, 42, 25),
 datetime.datetime(2017, 9, 13, 2, 44, 29),
 datetime.datetime(2015, 11, 12, 21, 33, 53),
 datetime.datetime(2016, 2, 12, 5, 54, 29),
 datetime.datetime(2015, 4, 30, 8, 17, 28),
 datetime.datetime(2017, 12, 8, 3, 28, 46),
 datetime.datetime(2016, 6, 6, 2, 5, 27),
 datetime.datetime(2017, 5, 4, 15, 58, 55),
 datetime.datetime(2017, 8, 21, 23, 22, 18),
 datetime.datetime(2017, 5, 27, 4, 42, 25),
 datetime.datetime(2017, 4, 23, 7, 56, 40),
 datetime.datetime(2016, 5, 31, 19, 6, 51),
 datetime.datetime(2015, 6, 22, 7, 13, 47),
 datetime.datetime(2015, 12, 12, 13, 26, 34),
 datetime.datetime(2017, 8, 9, 6, 45, 12),
 datetime.datetime(2017, 10, 13, 14, 23, 47),
 datetime.datetime(2015, 8, 30, 15, 7, 50),
 datetime.datetime(2017, 8, 20, 12, 29, 59),
 datetime.datetime(2016, 4, 2, 18, 50, 6),
 datetime.datetime(2017, 1, 6, 15, 50, 46),
 datetime.datetime(2016, 4, 25, 18, 56, 53),
 datetime.datetime(2015, 6, 15, 3, 47, 16),
 datetime.datetime(2017, 11, 9, 17, 36, 37),
 datetime.datetime(2015, 8, 16, 3, 26, 40),
 datetime.datetime(2016, 2, 10, 9, 27, 30),
 datetime.datetime(2017, 6, 28, 7, 2, 50),
 datetime.datetime(2015, 9, 13, 17, 25, 8),
 datetime.datetime(2017, 4, 21, 9, 48, 42),
 datetime.datetime(2016, 10, 24, 17, 47, 31),
 datetime.datetime(2017, 9, 9, 2, 33, 8),
 datetime.datetime(2016, 12, 10, 7, 50, 43),
 datetime.datetime(2016, 3, 26, 19, 29, 50),
 datetime.datetime(2017, 9, 9, 10, 57, 47),
 datetime.datetime(2016, 2, 16, 7, 57, 36),
 datetime.datetime(2015, 11, 23, 18, 2, 11),
 datetime.datetime(2017, 2, 17, 23, 12, 25),
 datetime.datetime(2016, 11, 25, 6, 47, 27),
 datetime.datetime(2015, 3, 28, 8, 8, 35),
 datetime.datetime(2017, 6, 12, 7, 14, 50),
 datetime.datetime(2015, 9, 16, 22, 59, 5),
 datetime.datetime(2015, 2, 6, 1, 25, 23),
 datetime.datetime(2017, 6, 28, 4, 54, 1),
 datetime.datetime(2015, 10, 9, 18, 22, 40),
 datetime.datetime(2015, 8, 29, 2, 16, 4),
 datetime.datetime(2017, 7, 30, 20, 14, 6),
 datetime.datetime(2015, 6, 27, 22, 55, 22),
 datetime.datetime(2015, 4, 13, 23, 39, 45),
 datetime.datetime(2017, 6, 22, 7, 33, 11),
 datetime.datetime(2015, 9, 20, 2, 3, 18),
 datetime.datetime(2015, 4, 21, 3, 50, 21),
 datetime.datetime(2017, 8, 17, 0, 34, 15),
 datetime.datetime(2015, 3, 26, 16, 6, 44),
 datetime.datetime(2015, 3, 21, 19, 18, 16),
 datetime.datetime(2015, 11, 22, 11, 38, 31),
 datetime.datetime(2016, 12, 25, 7, 58, 16),
 datetime.datetime(2015, 7, 3, 18, 17, 10),
 datetime.datetime(2015, 3, 28, 23, 1, 6),
 datetime.datetime(2015, 2, 20, 2, 13, 50),
 datetime.datetime(2016, 8, 1, 22, 6, 48),
 datetime.datetime(2015, 12, 31, 19, 30, 28),
 datetime.datetime(2015, 6, 26, 20, 5, 4),
 datetime.datetime(2017, 6, 11, 13, 21, 21),
 datetime.datetime(2015, 1, 8, 20, 36, 20),
 datetime.datetime(2015, 2, 10, 0, 22, 27),
 datetime.datetime(2016, 11, 13, 3, 14, 21),
 datetime.datetime(2016, 6, 20, 21, 6, 24),
 datetime.datetime(2017, 8, 4, 9, 22, 28),
 datetime.datetime(2017, 5, 21, 5, 24, 8),
 datetime.datetime(2016, 5, 18, 1, 6, 21),
 datetime.datetime(2015, 4, 5, 7, 10, 12),
 datetime.datetime(2015, 9, 7, 3, 3, 2),
 datetime.datetime(2017, 9, 28, 2, 57, 29),
 datetime.datetime(2017, 1, 28, 3, 57, 4),
 datetime.datetime(2015, 11, 24, 11, 20, 54),
 datetime.datetime(2015, 11, 3, 12, 51, 23),
 datetime.datetime(2015, 2, 11, 13, 39, 56),
 datetime.datetime(2016, 11, 14, 18, 54, 47),
 datetime.datetime(2016, 9, 24, 12, 31, 3),
 datetime.datetime(2017, 3, 26, 23, 52, 59),
 datetime.datetime(2015, 2, 7, 10, 54, 5),
 datetime.datetime(2016, 12, 7, 1, 54, 49),
 datetime.datetime(2017, 12, 30, 3, 27, 28),
 datetime.datetime(2015, 2, 3, 20, 47, 8),
 datetime.datetime(2016, 5, 31, 10, 25, 46),
 datetime.datetime(2017, 8, 5, 11, 43),
 datetime.datetime(2015, 12, 28, 14, 19, 53),
 datetime.datetime(2015, 12, 19, 10, 23, 56),
 datetime.datetime(2015, 3, 6, 20, 14, 12),
 datetime.datetime(2016, 5, 13, 2, 55, 18),
 datetime.datetime(2015, 5, 31, 7, 3, 48),
 datetime.datetime(2016, 10, 10, 20, 11, 2),
 datetime.datetime(2017, 4, 23, 8, 36, 27),
 datetime.datetime(2017, 6, 3, 17, 2, 46),
 datetime.datetime(2016, 1, 8, 17, 17, 7),
 datetime.datetime(2015, 1, 1, 19, 56, 21),
 datetime.datetime(2016, 7, 24, 20, 17, 51),
 datetime.datetime(2017, 11, 16, 21, 16, 12),
 datetime.datetime(2015, 10, 29, 7, 51, 36),
 datetime.datetime(2015, 3, 15, 10, 9, 39),
 datetime.datetime(2016, 4, 23, 8, 7, 25),
 datetime.datetime(2016, 6, 28, 19, 28, 17),
 datetime.datetime(2017, 7, 13, 8, 15, 26),
 datetime.datetime(2017, 2, 13, 13, 28, 16),
 datetime.datetime(2017, 2, 10, 20, 1, 29),
 datetime.datetime(2016, 10, 2, 6, 19, 5),
 datetime.datetime(2017, 10, 16, 3, 9, 11),
 datetime.datetime(2015, 12, 27, 13, 4, 45),
 datetime.datetime(2015, 10, 12, 11, 57, 32),
 datetime.datetime(2015, 1, 28, 14, 33),
 datetime.datetime(2015, 11, 20, 11, 34, 20),
 datetime.datetime(2015, 4, 19, 22, 52, 1),
 datetime.datetime(2015, 2, 6, 20, 45, 12),
 datetime.datetime(2015, 7, 5, 16, 0, 22),
 datetime.datetime(2016, 8, 22, 15, 4, 38),
 datetime.datetime(2016, 10, 25, 19, 11, 25),
 datetime.datetime(2015, 6, 2, 11, 39, 5),
 datetime.datetime(2015, 12, 17, 9, 9, 38),
 datetime.datetime(2017, 11, 3, 4, 26, 2),
 datetime.datetime(2017, 10, 16, 6, 28, 10),
 datetime.datetime(2016, 3, 10, 10, 56, 48),
 datetime.datetime(2016, 4, 23, 18, 42, 46),
 datetime.datetime(2016, 5, 22, 13, 46, 39),
 datetime.datetime(2017, 6, 15, 23, 17, 39),
 datetime.datetime(2015, 9, 9, 1, 11, 41),
 datetime.datetime(2016, 4, 22, 1, 26, 22),
 datetime.datetime(2016, 2, 10, 21, 12, 24),
 datetime.datetime(2015, 10, 13, 8, 44, 34),
 datetime.datetime(2015, 2, 23, 3, 46, 18),
 datetime.datetime(2017, 11, 1, 6, 23, 6),
 datetime.datetime(2015, 2, 7, 2, 37, 58),
 datetime.datetime(2016, 3, 30, 5, 28, 11),
 datetime.datetime(2015, 6, 3, 3, 44, 37),
 datetime.datetime(2017, 5, 21, 17, 21, 32),
 datetime.datetime(2016, 4, 14, 13, 28, 20),
 datetime.datetime(2017, 11, 3, 12, 15, 6),
 datetime.datetime(2016, 9, 2, 20, 14, 38),
 datetime.datetime(2017, 1, 12, 9, 20, 31),
 datetime.datetime(2015, 9, 9, 8, 7, 30),
 datetime.datetime(2016, 5, 19, 19, 8, 52),
 datetime.datetime(2015, 12, 19, 20, 58, 35),
 datetime.datetime(2015, 3, 27, 15, 46, 4),
 datetime.datetime(2017, 12, 9, 21, 5, 37),
 datetime.datetime(2015, 12, 21, 5, 6, 46),
 datetime.datetime(2015, 10, 30, 2, 15, 45),
 datetime.datetime(2017, 1, 31, 10, 15, 58),
 datetime.datetime(2017, 10, 24, 0, 8, 51),
 datetime.datetime(2016, 11, 15, 5, 32, 9),
 datetime.datetime(2016, 11, 22, 2, 35, 46),
 datetime.datetime(2016, 8, 14, 22, 41, 7),
 datetime.datetime(2016, 1, 19, 20, 53, 50),
 datetime.datetime(2015, 6, 4, 19, 28, 13),
 datetime.datetime(2017, 4, 20, 14, 18, 57),
 datetime.datetime(2017, 10, 3, 16, 26, 41),
 datetime.datetime(2015, 8, 8, 1, 5, 7),
 datetime.datetime(2017, 1, 2, 21, 31, 28),
 datetime.datetime(2016, 1, 29, 18, 24, 23),
 datetime.datetime(2016, 10, 5, 15, 10, 13),
 datetime.datetime(2015, 5, 19, 5, 59, 34),
 datetime.datetime(2016, 10, 18, 9, 47, 42),
 datetime.datetime(2016, 9, 6, 0, 16, 42),
 datetime.datetime(2017, 2, 4, 13, 56, 33),
 datetime.datetime(2017, 4, 20, 14, 34, 40),
 datetime.datetime(2015, 3, 11, 0, 57, 58),
 datetime.datetime(2017, 11, 14, 22, 20, 54),
 datetime.datetime(2015, 5, 31, 13, 55, 12),
 datetime.datetime(2015, 2, 9, 19, 55, 14),
 datetime.datetime(2016, 2, 14, 16, 48, 5),
 datetime.datetime(2017, 1, 9, 3, 12, 43),
 datetime.datetime(2016, 10, 18, 2, 27, 53),
 datetime.datetime(2015, 10, 5, 7, 23, 45),
 datetime.datetime(2016, 9, 30, 11, 17, 54),
 datetime.datetime(2017, 3, 31, 20, 49, 44),
 datetime.datetime(2015, 11, 3, 21, 46, 3),
 datetime.datetime(2016, 10, 7, 18, 14, 31),
 datetime.datetime(2016, 2, 15, 10, 12, 12),
 datetime.datetime(2015, 5, 12, 19, 35, 48),
 datetime.datetime(2015, 9, 20, 6, 42, 57),
 datetime.datetime(2016, 10, 21, 6, 40, 14),
 datetime.datetime(2017, 3, 24, 7, 7, 59),
 datetime.datetime(2017, 6, 25, 19, 14, 9),
 datetime.datetime(2017, 2, 8, 12, 23, 19),
 datetime.datetime(2015, 10, 14, 6, 46, 9),
 datetime.datetime(2016, 1, 21, 20, 13, 16),
 datetime.datetime(2017, 2, 28, 9, 44, 49),
 datetime.datetime(2015, 7, 18, 21, 8, 53),
 datetime.datetime(2015, 1, 21, 19, 10, 19),
 datetime.datetime(2016, 3, 7, 16, 31, 50),
 datetime.datetime(2017, 2, 21, 2, 47, 37),
 datetime.datetime(2015, 8, 12, 23, 52),
 datetime.datetime(2017, 5, 15, 22, 4, 43),
 datetime.datetime(2015, 12, 18, 12, 30, 32),
 datetime.datetime(2016, 10, 19, 20, 2, 44),
 datetime.datetime(2017, 6, 27, 13, 41, 12),
 datetime.datetime(2017, 7, 2, 2, 27, 58),
 datetime.datetime(2016, 7, 9, 20, 2, 21),
 datetime.datetime(2017, 5, 5, 0, 3, 17),
 datetime.datetime(2015, 8, 30, 15, 53, 4),
 datetime.datetime(2017, 8, 31, 15, 1, 15),
 datetime.datetime(2015, 12, 5, 2, 53, 12),
 datetime.datetime(2015, 10, 1, 5, 39, 17),
 datetime.datetime(2016, 10, 24, 14, 35, 24),
 datetime.datetime(2016, 8, 17, 22, 21, 13),
 datetime.datetime(2015, 5, 16, 6, 58, 22),
 datetime.datetime(2015, 8, 6, 21, 41, 35),
 datetime.datetime(2016, 5, 3, 12, 23, 19),
 datetime.datetime(2017, 7, 21, 22, 49, 46),
 datetime.datetime(2016, 11, 26, 23, 10, 1),
 datetime.datetime(2016, 7, 28, 4, 46, 22),
 datetime.datetime(2017, 12, 2, 15, 58, 59),
 datetime.datetime(2017, 6, 27, 8, 42, 8),
 datetime.datetime(2017, 7, 11, 21, 41, 34),
 datetime.datetime(2016, 3, 15, 12, 51, 54),
 datetime.datetime(2016, 4, 25, 20, 45, 49),
 datetime.datetime(2017, 10, 11, 8, 5, 30),
 datetime.datetime(2016, 8, 13, 0, 3, 23),
 datetime.datetime(2016, 7, 12, 6, 51, 8),
 datetime.datetime(2015, 12, 19, 17, 51, 46),
 datetime.datetime(2016, 1, 7, 4, 4, 35),
 datetime.datetime(2015, 3, 2, 11, 8, 30),
 datetime.datetime(2017, 12, 31, 23, 21, 58),
 datetime.datetime(2015, 9, 26, 7, 44, 12),
 datetime.datetime(2015, 4, 3, 22, 7),
 datetime.datetime(2015, 10, 19, 20, 44, 13),
 datetime.datetime(2017, 6, 23, 12, 38, 38),
 datetime.datetime(2015, 6, 20, 0, 19, 20),
 datetime.datetime(2015, 12, 19, 23, 42, 14),
 datetime.datetime(2016, 8, 29, 21, 38, 43),
 datetime.datetime(2015, 8, 18, 8, 18, 41),
 datetime.datetime(2017, 2, 11, 4, 13, 26),
 datetime.datetime(2015, 9, 23, 20, 37, 31),
 datetime.datetime(2016, 9, 5, 22, 15, 39),
 datetime.datetime(2017, 2, 1, 7, 27, 16),
 datetime.datetime(2017, 6, 28, 17, 56, 41),
 datetime.datetime(2016, 7, 11, 18, 8, 30),
 datetime.datetime(2016, 8, 27, 17, 36, 20),
 datetime.datetime(2017, 7, 16, 6, 20, 13),
 datetime.datetime(2016, 2, 3, 9, 55, 2),
 datetime.datetime(2015, 9, 4, 17, 24, 3),
 datetime.datetime(2016, 1, 4, 4, 57, 41),
 datetime.datetime(2016, 1, 1, 20, 8, 14),
 datetime.datetime(2016, 12, 12, 15, 46, 14),
 datetime.datetime(2017, 12, 15, 6, 36, 7),
 datetime.datetime(2017, 11, 25, 14, 15, 40),
 datetime.datetime(2017, 1, 30, 22, 3, 15),
 datetime.datetime(2015, 11, 29, 22, 49, 17),
 datetime.datetime(2017, 11, 2, 20, 42, 23),
 datetime.datetime(2016, 2, 4, 3, 58, 45),
 datetime.datetime(2016, 7, 18, 22, 42, 30),
 datetime.datetime(2016, 10, 23, 12, 40, 39),
 datetime.datetime(2015, 12, 19, 21, 20, 50),
 datetime.datetime(2016, 8, 22, 16, 49, 30),
 datetime.datetime(2015, 6, 21, 15, 30, 52),
 datetime.datetime(2016, 1, 29, 15, 24, 13),
 datetime.datetime(2016, 4, 28, 0, 29, 32),
 datetime.datetime(2017, 7, 11, 16, 6, 3),
 datetime.datetime(2016, 5, 21, 3, 45, 14),
 datetime.datetime(2016, 9, 14, 22, 13, 5),
 datetime.datetime(2017, 6, 30, 7, 29, 18),
 datetime.datetime(2015, 10, 11, 15, 53, 51),
 datetime.datetime(2016, 6, 20, 1, 59, 18),
 datetime.datetime(2015, 3, 17, 22, 36, 46),
 datetime.datetime(2016, 10, 5, 6, 34, 5),
 datetime.datetime(2017, 12, 30, 21, 10, 44),
 datetime.datetime(2017, 3, 14, 4, 13, 5),
 datetime.datetime(2016, 1, 12, 4, 26, 33),
 datetime.datetime(2017, 12, 26, 15, 13, 43),
 datetime.datetime(2016, 12, 7, 11, 10, 15),
 datetime.datetime(2016, 7, 4, 0, 32, 55),
 datetime.datetime(2015, 12, 14, 13, 51, 58),
 datetime.datetime(2017, 7, 18, 23, 52, 44),
 datetime.datetime(2017, 12, 9, 19, 49, 42),
 datetime.datetime(2015, 12, 12, 19, 53, 1),
 datetime.datetime(2015, 4, 5, 1, 58, 54),
 datetime.datetime(2016, 10, 15, 2, 47, 42),
 datetime.datetime(2015, 3, 24, 11, 58, 38),
 datetime.datetime(2017, 9, 2, 1, 57, 18),
 datetime.datetime(2017, 5, 16, 19, 28, 51),
 datetime.datetime(2015, 11, 25, 1, 48, 42),
 datetime.datetime(2016, 1, 12, 14, 18, 25),
 datetime.datetime(2016, 2, 20, 6, 36, 26),
 datetime.datetime(2016, 4, 18, 6, 45, 15),
 datetime.datetime(2016, 11, 8, 22, 38, 48),
 datetime.datetime(2017, 10, 10, 11, 51, 11),
 datetime.datetime(2017, 8, 10, 8, 33, 4),
 datetime.datetime(2016, 2, 23, 0, 6, 51),

In [65]:
from timer import Timer

with Timer('ConvertDatesPy') as t:
    res = [pytz.timezone('US/Eastern').localize(r).astimezone(pytz.UTC) for r in pyDates]

with Timer('ConvertDatesNP') as t:
    res = dates.tz_localize('US/Eastern', nonexistent='shift_forward', ambiguous='NaT').tz_convert('UTC')  # if unclear, shift forward, if not a datetime, return NaT i.e. Not a Time

ImportError: cannot import name 'Timer' from 'timer' (D:\anaconda3\lib\site-packages\win32\timer.pyd)

In [79]:
dates

DatetimeIndex(['2016-08-23 20:24:02', '2015-03-02 09:44:12',
               '2016-10-26 23:46:01', '2017-10-20 21:24:25',
               '2015-11-21 11:40:07', '2016-10-17 22:12:08',
               '2015-09-05 07:44:11', '2016-06-30 11:11:05',
               '2015-10-09 12:32:03', '2017-12-10 19:28:02',
               ...
               '2016-02-14 03:58:47', '2015-08-02 18:31:07',
               '2017-11-28 03:10:36', '2015-08-16 04:09:01',
               '2017-08-02 14:19:29', '2015-09-24 14:12:12',
               '2017-06-08 23:02:35', '2015-12-17 02:42:05',
               '2016-03-30 23:53:31', '2017-09-16 16:57:02'],
              dtype='datetime64[ns]', length=1000000, freq=None)

In [80]:
res

NameError: name 'res' is not defined

In [81]:
# Add/Subtract business day
pd.to_datetime('2020.01.03') + pd.offsets.BDay()

Timestamp('2020-01-06 00:00:00')

In [82]:
# Date ranges
pd.date_range('1/1/2010', periods=10, freq=2 * pd.offsets.BDay())

DatetimeIndex(['2010-01-01', '2010-01-05', '2010-01-07', '2010-01-11',
               '2010-01-13', '2010-01-15', '2010-01-19', '2010-01-21',
               '2010-01-25', '2010-01-27'],
              dtype='datetime64[ns]', freq='2B')

In [83]:
#asfreq

In [84]:
dayMinuteBars = tsla.history(period='2d', interval='1m')

In [85]:
dayMinuteBars

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2020-10-14 09:30:00-04:00,449.779999,450.010010,448.010010,448.890015,1536522,0,0
2020-10-14 09:31:00-04:00,448.899994,449.459991,447.350006,448.899994,271293,0,0
2020-10-14 09:32:00-04:00,449.079987,453.000000,448.399994,452.917908,630737,0,0
2020-10-14 09:33:00-04:00,452.850006,454.608490,452.609985,454.380890,474245,0,0
2020-10-14 09:34:00-04:00,454.339996,454.799988,453.324005,453.540009,402649,0,0
...,...,...,...,...,...,...,...
2020-10-15 15:55:00-04:00,448.630005,449.589996,448.510193,449.305603,87386,0,0
2020-10-15 15:56:00-04:00,449.290009,449.649994,449.170013,449.322388,77293,0,0
2020-10-15 15:57:00-04:00,449.309998,449.450012,448.760010,448.822998,61143,0,0
2020-10-15 15:58:00-04:00,448.850006,449.366302,448.790009,449.200012,97709,0,0
2020-10-15 15:59:00-04:00,449.179993,449.500000,448.779999,448.880005,198722,0,0

In [86]:
# volume weighted average price
def vwap(bars): 
    return ((bars.Close*bars.Volume).sum()/bars.Volume.sum()).round(2)

vwap(dayMinuteBars[dayMinuteBars.index.date==pd.to_datetime('2020-07-15')])

<ipython-input-86-0d3cf068c06e>:3: RuntimeWarning: invalid value encountered in double_scalars
  return ((bars.Close*bars.Volume).sum()/bars.Volume.sum()).round(2)

nan

In [87]:
dayMinuteBars.eval(
        'wgtd = Close * Volume', inplace=False
    ).groupby(dayMinuteBars.index.date).cumsum().eval('wgtd / Volume')

Datetime
2020-10-14 09:30:00-04:00    448.890015
2020-10-14 09:31:00-04:00    448.891512
2020-10-14 09:32:00-04:00    449.932949
2020-10-14 09:33:00-04:00    450.657137
2020-10-14 09:34:00-04:00    451.007251
                                ...
2020-10-15 15:55:00-04:00    448.895178
2020-10-15 15:56:00-04:00    448.896138
2020-10-15 15:57:00-04:00    448.896008
2020-10-15 15:58:00-04:00    448.896867
2020-10-15 15:59:00-04:00    448.896771
Length: 780, dtype: float64

In [89]:
vwap = dayMinuteBars.assign(  # create a calculator column
    vwap=dayMinuteBars.eval(
        'wgtd = Close * Volume', inplace=False  # interim column
    ).groupby(dayMinuteBars.index.date).cumsum().eval('wgtd / Volume')
).groupby(dayMinuteBars.index.date).agg({'vwap':lambda x: x.iloc[-1]})
vwap

                  vwap
2020-10-14  459.511531
2020-10-15  448.896771

In [90]:
dayMinuteBars

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2020-10-14 09:30:00-04:00,449.779999,450.010010,448.010010,448.890015,1536522,0,0
2020-10-14 09:31:00-04:00,448.899994,449.459991,447.350006,448.899994,271293,0,0
2020-10-14 09:32:00-04:00,449.079987,453.000000,448.399994,452.917908,630737,0,0
2020-10-14 09:33:00-04:00,452.850006,454.608490,452.609985,454.380890,474245,0,0
2020-10-14 09:34:00-04:00,454.339996,454.799988,453.324005,453.540009,402649,0,0
...,...,...,...,...,...,...,...
2020-10-15 15:55:00-04:00,448.630005,449.589996,448.510193,449.305603,87386,0,0
2020-10-15 15:56:00-04:00,449.290009,449.649994,449.170013,449.322388,77293,0,0
2020-10-15 15:57:00-04:00,449.309998,449.450012,448.760010,448.822998,61143,0,0
2020-10-15 15:58:00-04:00,448.850006,449.366302,448.790009,449.200012,97709,0,0
2020-10-15 15:59:00-04:00,449.179993,449.500000,448.779999,448.880005,198722,0,0

In [91]:
dayMinuteBars.index.to_series().diff().shift(-1)/ np.timedelta64(1, 'm')

Datetime
2020-10-14 09:30:00-04:00    1.0
2020-10-14 09:31:00-04:00    1.0
2020-10-14 09:32:00-04:00    1.0
2020-10-14 09:33:00-04:00    1.0
2020-10-14 09:34:00-04:00    1.0
                            ...
2020-10-15 15:55:00-04:00    1.0
2020-10-15 15:56:00-04:00    1.0
2020-10-15 15:57:00-04:00    1.0
2020-10-15 15:58:00-04:00    1.0
2020-10-15 15:59:00-04:00    NaN
Name: Datetime, Length: 780, dtype: float64

In [92]:
dayMinuteBars['TimeDiff'] = dayMinuteBars.index.to_series().diff().shift(-1)/ np.timedelta64(1, 's')
dayMinuteBars

,Open,High,Low,Close,Volume,Dividends,Stock Splits,TimeDiff
Datetime,,,,,,,,
2020-10-14 09:30:00-04:00,449.779999,450.010010,448.010010,448.890015,1536522,0,0,60.0
2020-10-14 09:31:00-04:00,448.899994,449.459991,447.350006,448.899994,271293,0,0,60.0
2020-10-14 09:32:00-04:00,449.079987,453.000000,448.399994,452.917908,630737,0,0,60.0
2020-10-14 09:33:00-04:00,452.850006,454.608490,452.609985,454.380890,474245,0,0,60.0
2020-10-14 09:34:00-04:00,454.339996,454.799988,453.324005,453.540009,402649,0,0,60.0
...,...,...,...,...,...,...,...,...
2020-10-15 15:55:00-04:00,448.630005,449.589996,448.510193,449.305603,87386,0,0,60.0
2020-10-15 15:56:00-04:00,449.290009,449.649994,449.170013,449.322388,77293,0,0,60.0
2020-10-15 15:57:00-04:00,449.309998,449.450012,448.760010,448.822998,61143,0,0,60.0
2020-10-15 15:58:00-04:00,448.850006,449.366302,448.790009,449.200012,97709,0,0,60.0
2020-10-15 15:59:00-04:00,449.179993,449.500000,448.779999,448.880005,198722,0,0,NaN

In [93]:
twap = dayMinuteBars.assign(
    twap=dayMinuteBars.eval(
        'wgtd = Close * TimeDiff', inplace=False
    ).groupby(dayMinuteBars.index.date).cumsum().eval('wgtd / TimeDiff')
).groupby(dayMinuteBars.index.date).agg({'twap':lambda x: x.iloc[-1]})
twap

                  twap
2020-10-14  461.090597
2020-10-15         NaN

#### Functionality

In [94]:
tslaData.cumsum()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-07-08,7.028000,8.504000,6.622000,8.270000,132388500,0,0.0
2010-07-13,10.506000,12.232000,10.002000,11.898000,145789000,0,0.0
2010-07-14,14.094000,16.262000,13.554000,15.866000,166765000,0,0.0
2010-07-19,18.368000,20.712000,17.738000,20.248000,179197500,0,0.0
...,...,...,...,...,...,...,...
2020-10-07,64274.180036,66470.498147,63584.836070,65790.236095,39896349600,0,5.0
2020-10-09,64704.310041,66905.088143,64011.296062,66224.236095,39925275300,0,5.0
2020-10-12,65146.310041,67353.828133,64449.876048,66666.536083,39964066400,0,5.0
2020-10-13,65589.660047,67802.718148,64886.476054,67113.186077,39998530100,0,5.0
2020-10-14,66039.440046,68268.618142,65333.826060,67574.486065,40046575500,0,5.0

In [95]:
tslaData['Volume'].cumsum()

Date
2010-06-29       93831500
2010-07-08      132388500
2010-07-13      145789000
2010-07-14      166765000
2010-07-19      179197500
                 ...
2020-10-07    39896349600
2020-10-09    39925275300
2020-10-12    39964066400
2020-10-13    39998530100
2020-10-14    40046575500
Name: Volume, Length: 1285, dtype: int64

In [96]:
tslaData['CumVolume'] = tslaData['Volume'].cumsum()
tslaData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CumVolume
Date,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0,93831500
2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0,132388500
2010-07-13,3.478000,3.728000,3.380000,3.628000,13400500,0,0.0,145789000
2010-07-14,3.588000,4.030000,3.552000,3.968000,20976000,0,0.0,166765000
2010-07-19,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0,179197500
...,...,...,...,...,...,...,...,...
2020-10-07,419.869995,429.899994,413.850006,425.299988,43127700,0,0.0,39896349600
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0,39925275300
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0,39964066400
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0,39998530100
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0,40046575500

In [97]:
tslaData['Volume'].cummax()  # running max over the entire table, useful to calculate drawdown

Date
2010-06-29     93831500
2010-07-08     93831500
2010-07-13     93831500
2010-07-14     93831500
2010-07-19     93831500
                ...
2020-10-07    304694000
2020-10-09    304694000
2020-10-12    304694000
2020-10-13    304694000
2020-10-14    304694000
Name: Volume, Length: 1285, dtype: int64

In [98]:
tslaData['Volume'].cummin()

Date
2010-06-29    93831500
2010-07-08    38557000
2010-07-13    13400500
2010-07-14    13400500
2010-07-19    12432500
                ...
2020-10-07      805500
2020-10-09      805500
2020-10-12      805500
2020-10-13      805500
2020-10-14      805500
Name: Volume, Length: 1285, dtype: int64

In [99]:
tslaData['Volume'].cumprod()  # cumulative product

Date
2010-06-29               93831500
2010-07-08       3617861145500000
2010-07-13    3104854564048353152
2010-07-14     344881892615208960
2010-07-19    1384189610927128576
                     ...
2020-10-07                      0
2020-10-09                      0
2020-10-12                      0
2020-10-13                      0
2020-10-14                      0
Name: Volume, Length: 1285, dtype: int64

In [100]:
# useful to calculate moving avg
tslaData['Volume'].rolling(10).sum() # sum, mean, median, var, std, min, max, corr, cov, skew, kurt, quantile

Date
2010-06-29            NaN
2010-07-08            NaN
2010-07-13            NaN
2010-07-14            NaN
2010-07-19            NaN
                 ...
2020-10-07    647083200.0
2020-10-09    578710700.0
2020-10-12    545222500.0
2020-10-13    502907000.0
2020-10-14    454391300.0
Name: Volume, Length: 1285, dtype: float64

In [101]:
zscore = lambda x: (x[-1] - x.mean()) / x.std(ddof=1)
tslaData['Volume'].rolling(10).apply(zscore)

Date
2010-06-29         NaN
2010-07-08         NaN
2010-07-13         NaN
2010-07-14         NaN
2010-07-19         NaN
                ...
2020-10-07   -1.046069
2020-10-09   -1.451049
2020-10-12   -0.783779
2020-10-13   -0.819921
2020-10-14    0.249484
Name: Volume, Length: 1285, dtype: float64

In [102]:
# Expanding is very similar to cumulative, but 'waits' (NaN) until the minimum number specified

tslaData['Volume'].expanding(10).sum() # sum, mean, median, var, std, min, max, corr, cov, skew, kurt, quantile

Date
2010-06-29             NaN
2010-07-08             NaN
2010-07-13             NaN
2010-07-14             NaN
2010-07-19             NaN
                  ...
2020-10-07    3.989635e+10
2020-10-09    3.992528e+10
2020-10-12    3.996407e+10
2020-10-13    3.999853e+10
2020-10-14    4.004658e+10
Name: Volume, Length: 1285, dtype: float64

In [103]:
# Exponential weighted moving average
tslaData['Volume'].ewm(2).mean() # std, var, corr, cob

Date
2010-06-29    9.383150e+07
2010-07-08    6.066680e+07
2010-07-13    3.827750e+07
2010-07-14    3.109072e+07
2010-07-19    2.392809e+07
                  ...
2020-10-07    5.053666e+07
2020-10-09    4.333300e+07
2020-10-12    4.181904e+07
2020-10-13    3.936726e+07
2020-10-14    4.225997e+07
Name: Volume, Length: 1285, dtype: float64

In [104]:
# Deltas
tslaData['OpenDelta'] = tslaData.Open.diff().shift(-1)
tslaData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CumVolume,OpenDelta
Date,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0,93831500,-0.572000
2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0,132388500,0.250000
2010-07-13,3.478000,3.728000,3.380000,3.628000,13400500,0,0.0,145789000,0.110000
2010-07-14,3.588000,4.030000,3.552000,3.968000,20976000,0,0.0,166765000,0.686000
2010-07-19,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0,179197500,-0.174000
...,...,...,...,...,...,...,...,...,...
2020-10-07,419.869995,429.899994,413.850006,425.299988,43127700,0,0.0,39896349600,10.260010
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0,39925275300,11.869995
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0,39964066400,1.350006
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0,39998530100,6.429993
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0,40046575500,NaN

In [105]:
# Deltas
tslaData['OpenDelta'] = tslaData.Open.diff() # .shift(-1)
tslaData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,CumVolume,OpenDelta
Date,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0,93831500,NaN
2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0,132388500,-0.572000
2010-07-13,3.478000,3.728000,3.380000,3.628000,13400500,0,0.0,145789000,0.250000
2010-07-14,3.588000,4.030000,3.552000,3.968000,20976000,0,0.0,166765000,0.110000
2010-07-19,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0,179197500,0.686000
...,...,...,...,...,...,...,...,...,...
2020-10-07,419.869995,429.899994,413.850006,425.299988,43127700,0,0.0,39896349600,-3.480011
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0,39925275300,10.260010
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0,39964066400,11.869995
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0,39998530100,1.350006
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0,40046575500,6.429993