# Tabular Data

### Creating a DF

In [1]:
import pandas as pd
df = pd.DataFrame({'Col1':[1,2,3,4], 'Col2':[5, 6, 7, 8]})  # Pass in a dict
df

   Col1  Col2
0     1     5
1     2     6
2     3     7
3     4     8

In [2]:
import pandas as pd
import numpy as np
arr = np.array([[1,2,3], [4,5,6]])  # ndArray
df = pd.DataFrame(arr)
df

df.columns = ['a', 'b', 'c']  # Name the column
df
df = pd.DataFrame(arr, columns=['a', 'b', 'c'])  
df
df = pd.DataFrame(arr, index=['z', 'x'], columns=['a', 'b', 'c'])  # Name indices
df

   a  b  c
z  1  2  3
x  4  5  6

In [3]:
# Renaming
df.columns = ['q', 'r', 's']  # Pass in the list, has to be the correct size
df

   q  r  s
z  1  2  3
x  4  5  6

### Importing a DF

In [4]:
import yfinance as yf
tsla = yf.Ticker("TSLA")
tslaData = tsla.history(period="max")
tslaData.head()  # Top 5 rows

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [5]:
tslaData.shape  # number of rows and columns

(2599, 7)

In [6]:
tslaData.index

DatetimeIndex(['2010-06-29', '2010-06-30', '2010-07-01', '2010-07-02',
               '2010-07-06', '2010-07-07', '2010-07-08', '2010-07-09',
               '2010-07-12', '2010-07-13',
               ...
               '2020-10-09', '2020-10-12', '2020-10-13', '2020-10-14',
               '2020-10-15', '2020-10-16', '2020-10-19', '2020-10-20',
               '2020-10-21', '2020-10-22'],
              dtype='datetime64[ns]', name='Date', length=2599, freq=None)

In [7]:
tslaData.reset_index()  # Date becomes a column and index has row number

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
3,2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...,...
2594,2020-10-16,454.440002,455.950012,438.850006,439.670013,32775900,0,0.0
2595,2020-10-19,446.239990,447.000000,428.869995,430.829987,36287800,0,0.0
2596,2020-10-20,431.750000,431.750000,419.049988,421.940002,31656300,0,0.0
2597,2020-10-21,422.700012,432.950012,421.250000,422.640015,32370500,0,0.0
2598,2020-10-22,441.920013,445.230011,424.510010,425.790009,39825200,0,0.0

In [8]:
tslaData.axes

[DatetimeIndex(['2010-06-29', '2010-06-30', '2010-07-01', '2010-07-02',
                '2010-07-06', '2010-07-07', '2010-07-08', '2010-07-09',
                '2010-07-12', '2010-07-13',
                ...
                '2020-10-09', '2020-10-12', '2020-10-13', '2020-10-14',
                '2020-10-15', '2020-10-16', '2020-10-19', '2020-10-20',
                '2020-10-21', '2020-10-22'],
               dtype='datetime64[ns]', name='Date', length=2599, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')]

In [9]:
display(tslaData)
print('\n\n')
display(tslaData.to_numpy())  # convert it to an ndarray

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2020-10-16,454.440002,455.950012,438.850006,439.670013,32775900,0,0.0
2020-10-19,446.239990,447.000000,428.869995,430.829987,36287800,0,0.0
2020-10-20,431.750000,431.750000,419.049988,421.940002,31656300,0,0.0
2020-10-21,422.700012,432.950012,421.250000,422.640015,32370500,0,0.0
2020-10-22,441.920013,445.230011,424.510010,425.790009,39825200,0,0.0

array([[3.79999995e+00, 5.00000000e+00, 3.50799990e+00, ...,
        9.38315000e+07, 0.00000000e+00, 0.00000000e+00],
       [5.15799999e+00, 6.08400011e+00, 4.65999985e+00, ...,
        8.59355000e+07, 0.00000000e+00, 0.00000000e+00],
       [5.00000000e+00, 5.18400002e+00, 4.05399990e+00, ...,
        4.10940000e+07, 0.00000000e+00, 0.00000000e+00],
       ...,
       [4.31750000e+02, 4.31750000e+02, 4.19049988e+02, ...,
        3.16563000e+07, 0.00000000e+00, 0.00000000e+00],
       [4.22700012e+02, 4.32950012e+02, 4.21250000e+02, ...,
        3.23705000e+07, 0.00000000e+00, 0.00000000e+00],
       [4.41920013e+02, 4.45230011e+02, 4.24510010e+02, ...,
        3.98252000e+07, 0.00000000e+00, 0.00000000e+00]])

In [10]:
tslaData.describe()  # Aggregate columns with default statistics

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,2599.000000,2599.000000,2599.000000,2599.000000,2.599000e+03,2599.0,2599.000000
mean,52.000770,53.139965,50.815570,52.030163,3.113984e+07,0.0,0.001924
std,66.379551,68.326122,64.278536,66.440711,2.884596e+07,0.0,0.098077
min,3.228000,3.326000,2.996000,3.160000,5.925000e+05,0.0,0.000000
25%,7.200000,7.340000,7.037000,7.202000,1.070875e+07,0.0,0.000000
50%,44.136002,44.844002,43.430000,44.006001,2.443550e+07,0.0,0.000000
75%,59.649000,60.871000,58.549000,59.722000,4.016750e+07,0.0,0.000000
max,502.140015,502.489990,470.510010,498.320007,3.046940e+08,0.0,5.000000

In [11]:
#tslaData.sort_values(by='Volume', ascending=False, kind='mergesort', axis=0)
tslaData.sort_values(by='2010-06-30', ascending=False, kind='mergesort', axis=1)  # sort the dataframe, axis=0 -> operate on row

,Volume,High,Open,Close,Low,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,93831500,5.000000,3.800000,4.778000,3.508000,0,0.0
2010-06-30,85935500,6.084000,5.158000,4.766000,4.660000,0,0.0
2010-07-01,41094000,5.184000,5.000000,4.392000,4.054000,0,0.0
2010-07-02,25699000,4.620000,4.600000,3.840000,3.742000,0,0.0
2010-07-06,34334500,4.000000,4.000000,3.222000,3.166000,0,0.0
...,...,...,...,...,...,...,...
2020-10-16,32775900,455.950012,454.440002,439.670013,438.850006,0,0.0
2020-10-19,36287800,447.000000,446.239990,430.829987,428.869995,0,0.0
2020-10-20,31656300,431.750000,431.750000,421.940002,419.049988,0,0.0
2020-10-21,32370500,432.950012,422.700012,422.640015,421.250000,0,0.0
2020-10-22,39825200,445.230011,441.920013,425.790009,424.510010,0,0.0

In [12]:
tslaData.isna()  # whether or not there's a null value
tslaData.dropna()  # drop rows that has null value, useful for data cleaning

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2020-10-16,454.440002,455.950012,438.850006,439.670013,32775900,0,0.0
2020-10-19,446.239990,447.000000,428.869995,430.829987,36287800,0,0.0
2020-10-20,431.750000,431.750000,419.049988,421.940002,31656300,0,0.0
2020-10-21,422.700012,432.950012,421.250000,422.640015,32370500,0,0.0
2020-10-22,441.920013,445.230011,424.510010,425.790009,39825200,0,0.0

In [13]:
#dct = tslaData.to_dict()
dct = tslaData.to_dict(orient='list')  # convert dataframe to dictionary
#display(dct)
pd.DataFrame.from_dict(dct)  # reload the dict originally from the df and recreate the df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
3,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
4,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2594,454.440002,455.950012,438.850006,439.670013,32775900,0,0.0
2595,446.239990,447.000000,428.869995,430.829987,36287800,0,0.0
2596,431.750000,431.750000,419.049988,421.940002,31656300,0,0.0
2597,422.700012,432.950012,421.250000,422.640015,32370500,0,0.0
2598,441.920013,445.230011,424.510010,425.790009,39825200,0,0.0

### Slicing

In [14]:
tslaData = tslaData.reset_index()

In [15]:
# Slicing
tslaData[2:5]

        Date  Open   High    Low  Close    Volume  Dividends  Stock Splits
2 2010-07-01   5.0  5.184  4.054  4.392  41094000          0           0.0
3 2010-07-02   4.6  4.620  3.742  3.840  25699000          0           0.0
4 2010-07-06   4.0  4.000  3.166  3.222  34334500          0           0.0

In [16]:
tslaData[-2:]  # data from the last 2 row

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
2597,2020-10-21,422.700012,432.950012,421.25000,422.640015,32370500,0,0.0
2598,2020-10-22,441.920013,445.230011,424.51001,425.790009,39825200,0,0.0

In [17]:
tslaData['Open'][2]  # give 2nd value from the 'Open' column

5.0

In [18]:
tslaData['Open'][0]

3.799999952316284

In [19]:
tslaData[['Open', 'Close']]  #see multiple columns

            Open       Close
0       3.800000    4.778000
1       5.158000    4.766000
2       5.000000    4.392000
3       4.600000    3.840000
4       4.000000    3.222000
...          ...         ...
2594  454.440002  439.670013
2595  446.239990  430.829987
2596  431.750000  421.940002
2597  422.700012  422.640015
2598  441.920013  425.790009

[2599 rows x 2 columns]

In [20]:
tslaData.loc[2:5,'Close']  # see row 2:5 from 'Close' column

2    4.392
3    3.840
4    3.222
5    3.160
Name: Close, dtype: float64

In [21]:
tslaData.iloc[:,3]  # similar to loc but require a numeric index, i.e. 3 instead of 'Close'

0         3.508000
1         4.660000
2         4.054000
3         3.742000
4         3.166000
           ...
2594    438.850006
2595    428.869995
2596    419.049988
2597    421.250000
2598    424.510010
Name: Low, Length: 2599, dtype: float64

### Filtering

In [22]:
len(tslaData)  # how many rows

2599

In [23]:
tslaData[tslaData.Volume > 1e7]  # only see row where the volume exceed 10^7

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
3,2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...,...
2594,2020-10-16,454.440002,455.950012,438.850006,439.670013,32775900,0,0.0
2595,2020-10-19,446.239990,447.000000,428.869995,430.829987,36287800,0,0.0
2596,2020-10-20,431.750000,431.750000,419.049988,421.940002,31656300,0,0.0
2597,2020-10-21,422.700012,432.950012,421.250000,422.640015,32370500,0,0.0
2598,2020-10-22,441.920013,445.230011,424.510010,425.790009,39825200,0,0.0

In [24]:
tslaData[(tslaData.Volume > 1e7)&(tslaData.Open < tslaData.Close)]

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
6,2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0
9,2010-07-13,3.478000,3.728000,3.380000,3.628000,13400500,0,0.0
10,2010-07-14,3.588000,4.030000,3.552000,3.968000,20976000,0,0.0
13,2010-07-19,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0
...,...,...,...,...,...,...,...,...
2587,2020-10-07,419.869995,429.899994,413.850006,425.299988,43127700,0,0.0
2589,2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2590,2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2591,2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2592,2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0

In [25]:
tslaData.loc[lambda x: x.index % 2 == 0]  # slice using a callable (lambda)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
6,2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0
8,2010-07-12,3.590000,3.614000,3.400000,3.410000,11012500,0,0.0
...,...,...,...,...,...,...,...,...
2590,2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2592,2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2594,2020-10-16,454.440002,455.950012,438.850006,439.670013,32775900,0,0.0
2596,2020-10-20,431.750000,431.750000,419.049988,421.940002,31656300,0,0.0
2598,2020-10-22,441.920013,445.230011,424.510010,425.790009,39825200,0,0.0

In [26]:
import pandas as pd
import yfinance as yf

## Data Manipulation

In [27]:
tsla = yf.Ticker("TSLA")
tslaData = tsla.history(period="max")

msft = yf.Ticker("MSFT")
msftData = msft.history(period="max")

In [28]:
display(tslaData)

display(msftData)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2020-10-16,454.440002,455.950012,438.850006,439.670013,32775900,0,0.0
2020-10-19,446.239990,447.000000,428.869995,430.829987,36287800,0,0.0
2020-10-20,431.750000,431.750000,419.049988,421.940002,31656300,0,0.0
2020-10-21,422.700012,432.950012,421.250000,422.640015,32370500,0,0.0
2020-10-22,441.920013,445.230011,424.510010,425.790009,39825200,0,0.0

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1031788800,0.0,0.0
1986-03-14,0.062055,0.065379,0.062055,0.064271,308160000,0.0,0.0
1986-03-17,0.064271,0.065933,0.064271,0.065379,133171200,0.0,0.0
1986-03-18,0.065379,0.065933,0.063163,0.063717,67766400,0.0,0.0
1986-03-19,0.063717,0.064271,0.062055,0.062609,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-10-16,220.149994,222.289993,219.320007,219.660004,26057900,0.0,0.0
2020-10-19,220.419998,222.300003,213.720001,214.220001,27625800,0.0,0.0
2020-10-20,215.800003,217.369995,213.089996,214.649994,22753500,0.0,0.0
2020-10-21,213.119995,216.919998,213.119995,214.800003,22724900,0.0,0.0
2020-10-22,213.929993,216.059998,211.699997,214.889999,22334100,0.0,0.0

In [29]:
# reverse pivot, id_vars = what you want to hold constant. Take the column value and turn into a row
# optional: var_name and value_name to rename
melted = tslaData.reset_index().melt(id_vars=['Date'], var_name="Attribute", value_name="Value")
melted

            Date     Attribute  Value
0     2010-06-29          Open  3.800
1     2010-06-30          Open  5.158
2     2010-07-01          Open  5.000
3     2010-07-02          Open  4.600
4     2010-07-06          Open  4.000
...          ...           ...    ...
18188 2020-10-16  Stock Splits  0.000
18189 2020-10-19  Stock Splits  0.000
18190 2020-10-20  Stock Splits  0.000
18191 2020-10-21  Stock Splits  0.000
18192 2020-10-22  Stock Splits  0.000

[18193 rows x 3 columns]

In [30]:
pivoted = melted.pivot(index='Date', columns='Attribute')  # Reverse melt state to pivot state
pivoted = pivoted['Value'].reset_index()
pivoted.columns.name = None
pivoted

,Date,Close,Dividends,High,Low,Open,Stock Splits,Volume
0,2010-06-29,4.778000,0.0,5.000000,3.508000,3.800000,0.0,93831500.0
1,2010-06-30,4.766000,0.0,6.084000,4.660000,5.158000,0.0,85935500.0
2,2010-07-01,4.392000,0.0,5.184000,4.054000,5.000000,0.0,41094000.0
3,2010-07-02,3.840000,0.0,4.620000,3.742000,4.600000,0.0,25699000.0
4,2010-07-06,3.222000,0.0,4.000000,3.166000,4.000000,0.0,34334500.0
...,...,...,...,...,...,...,...,...
2594,2020-10-16,439.670013,0.0,455.950012,438.850006,454.440002,0.0,32775900.0
2595,2020-10-19,430.829987,0.0,447.000000,428.869995,446.239990,0.0,36287800.0
2596,2020-10-20,421.940002,0.0,431.750000,419.049988,431.750000,0.0,31656300.0
2597,2020-10-21,422.640015,0.0,432.950012,421.250000,422.700012,0.0,32370500.0
2598,2020-10-22,425.790009,0.0,445.230011,424.510010,441.920013,0.0,39825200.0

In [31]:
tslaData['Ticker'] = 'TSLA'  # can also pass in a list to assign different values for each rows.
msftData['Ticker'] = 'MSFT'
allData = pd.concat([tslaData, msftData], axis=0)  # Stack them in a single table, concat take a list of data frame. Axis = 1, stack them side by side (horizontally)
allData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker
Date,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0.0,0.0,TSLA
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0.0,0.0,TSLA
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0.0,0.0,TSLA
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0.0,0.0,TSLA
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0.0,0.0,TSLA
...,...,...,...,...,...,...,...,...
2020-10-16,220.149994,222.289993,219.320007,219.660004,26057900,0.0,0.0,MSFT
2020-10-19,220.419998,222.300003,213.720001,214.220001,27625800,0.0,0.0,MSFT
2020-10-20,215.800003,217.369995,213.089996,214.649994,22753500,0.0,0.0,MSFT
2020-10-21,213.119995,216.919998,213.119995,214.800003,22724900,0.0,0.0,MSFT
2020-10-22,213.929993,216.059998,211.699997,214.889999,22334100,0.0,0.0,MSFT

In [70]:
import numpy as np

allData.pivot_table(index = ['Ticker'], columns=[], values=['Open', 'Close'], aggfunc=np.std) # also np.mean and others

            Close       Open
Ticker
MSFT    37.225182  37.213377
TSLA    66.440711  66.379551

In [71]:
# Pass in the column you want to groupby and do an aggregation
allData.groupby(by=['Date', 'Ticker']).sum() # Also see as_index=False

                         Open        High         Low       Close     Volume  \
Date       Ticker
1986-03-13 MSFT      0.056514    0.064825    0.056514    0.062055  1031.7888
1986-03-14 MSFT      0.062055    0.065379    0.062055    0.064271   308.1600
1986-03-17 MSFT      0.064271    0.065933    0.064271    0.065379   133.1712
1986-03-18 MSFT      0.065379    0.065933    0.063163    0.063717    67.7664
1986-03-19 MSFT      0.063717    0.064271    0.062055    0.062609    47.8944
...                       ...         ...         ...         ...        ...
2020-10-20 TSLA    431.750000  431.750000  419.049988  421.940002    31.6563
2020-10-21 MSFT    213.119995  216.919998  213.119995  214.800003    22.7249
           TSLA    422.700012  432.950012  421.250000  422.640015    32.3705
2020-10-22 MSFT    213.929993  216.059998  211.699997  214.889999    22.3341
           TSLA    441.920013  445.230011  424.510010  425.790009    39.8252

                   Dividends  Stock Splits  Daily Gain %  Daily_Gain  \
Date       Ticker
1986-03-13 MSFT          0.0           0.0      9.803927    0.005541
1986-03-14 MSFT          0.0           0.0      3.571430    0.002216
1986-03-17 MSFT          0.0           0.0      1.724131    0.001108
1986-03-18 MSFT          0.0           0.0     -2.542371   -0.001662
1986-03-19 MSFT          0.0           0.0     -1.739131   -0.001108
...                      ...           ...           ...         ...
2020-10-20 TSLA          0.0           0.0      0.000000    0.000000
2020-10-21 MSFT          0.0           0.0      0.788292    1.680008
           TSLA          0.0           0.0      0.000000    0.000000
2020-10-22 MSFT          0.0           0.0      0.448748    0.960007
           TSLA          0.0           0.0      0.000000    0.000000

                   TickerAvgVolume
Date       Ticker
1986-03-13 MSFT          59.988593
1986-03-14 MSFT          59.988593
1986-03-17 MSFT          59.988593
1986-03-18 MSFT          59.988593
1986-03-19 MSFT          59.988593
...                            ...
2020-10-20 TSLA          31.139844
2020-10-21 MSFT          59.988593
           TSLA          31.139844
2020-10-22 MSFT          59.988593
           TSLA          31.139844

[11325 rows x 10 columns]

In [72]:
allData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Daily Gain %,Daily_Gain,TickerAvgVolume
Date,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0.0,0.0,TSLA,NaN,NaN,31.139844
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-16,220.149994,222.289993,219.320007,219.660004,26.0579,0.0,0.0,MSFT,-0.222571,-0.489990,59.988593
2020-10-19,220.419998,222.300003,213.720001,214.220001,27.6258,0.0,0.0,MSFT,-2.812811,-6.199997,59.988593
2020-10-20,215.800003,217.369995,213.089996,214.649994,22.7535,0.0,0.0,MSFT,-0.532905,-1.150009,59.988593
2020-10-21,213.119995,216.919998,213.119995,214.800003,22.7249,0.0,0.0,MSFT,0.788292,1.680008,59.988593
2020-10-22,213.929993,216.059998,211.699997,214.889999,22.3341,0.0,0.0,MSFT,0.448748,0.960007,59.988593

In [74]:
# Custom aggregation
from scipy import stats
# We want to use stats.sem (standard error). Can also create your own function
#allData.groupby(by=['Ticker']).agg({'Open': stats.sem, 'Close':np.sum}) # Can customize by column as well
allData.groupby(by=['Ticker']).agg({'Close':np.sum}) # Can customize by column as well

                Close
Ticker
MSFT    235811.042973
TSLA    135226.393926

### Joins

In [35]:
tsla = yf.Ticker("TSLA")
tslaData = tsla.history(period="max")

msft = yf.Ticker("MSFT")
msftData = msft.history(period="max")

In [36]:
# taking subset of the data
tslaData = tslaData[tslaData.Open<tslaData.Close]
msftData = msftData[msftData.Open<msftData.Close]

In [37]:
# Join on the indices from the left hand table (msft in this case, right hand is tsla)
x = msftData.join(tslaData, how='left', rsuffix='_tsla', lsuffix='_msft') # left, right, outer, inner
x.dropna()  # Drop the NaN values

,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla
Date,,,,,,,,,,,,,,
2010-07-19,19.670458,19.938405,19.631055,19.883240,38181800,0.0,0.0,4.274000,4.450000,4.184000,4.382000,12432500.0,0.0,0.0
2010-07-22,20.103902,20.482179,20.072378,20.363968,73016400,0.0,0.0,4.100000,4.250000,4.074000,4.200000,4789000.0,0.0,0.0
2010-08-02,20.482181,20.789531,20.293042,20.750128,55044600,0.0,0.0,4.100000,4.194000,4.066000,4.184000,3590500.0,0.0,0.0
2010-08-13,19.189732,19.441917,19.103043,19.229136,45263500,0.0,0.0,3.636000,3.690000,3.532000,3.664000,3170000.0,0.0,0.0
2010-08-16,19.197607,19.394627,19.150321,19.307938,40909700,0.0,0.0,3.690000,3.760000,3.652000,3.756000,2429000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-05,207.220001,210.410004,206.979996,210.380005,21331600,0.0,0.0,423.350006,433.640015,419.329987,425.679993,44722800.0,0.0,0.0
2020-10-07,207.059998,210.110001,206.720001,209.830002,25681100,0.0,0.0,419.869995,429.899994,413.850006,425.299988,43127700.0,0.0,0.0
2020-10-09,211.229996,215.860001,211.229996,215.809998,26458000,0.0,0.0,430.130005,434.589996,426.459991,434.000000,28925700.0,0.0,0.0
2020-10-12,218.789993,223.860001,216.809998,221.399994,40461400,0.0,0.0,442.000000,448.739990,438.579987,442.299988,38791100.0,0.0,0.0
2020-10-13,222.720001,225.210007,220.429993,222.860001,28950800,0.0,0.0,443.350006,448.890015,436.600006,446.649994,34463700.0,0.0,0.0

In [38]:
# Inner: intesect of data. Outer = union of data
msftData.join(tslaData, how='outer', rsuffix='_tsla', lsuffix='_msft') # left, right, outer, inner

,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla
Date,,,,,,,,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1.031789e+09,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-14,0.062055,0.065379,0.062055,0.064271,3.081600e+08,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-17,0.064271,0.065933,0.064271,0.065379,1.331712e+08,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-25,0.057623,0.058731,0.057068,0.058731,3.208320e+07,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986-03-26,0.058731,0.060947,0.058177,0.060393,2.275200e+07,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-13,222.720001,225.210007,220.429993,222.860001,2.895080e+07,0.0,0.0,443.350006,448.890015,436.600006,446.649994,34463700.0,0.0,0.0
2020-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,449.779999,465.899994,447.350006,461.299988,48045400.0,0.0,0.0
2020-10-15,217.100006,220.360001,216.009995,219.660004,2.273310e+07,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-21,213.119995,216.919998,213.119995,214.800003,2.272490e+07,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-22,213.929993,216.059998,211.699997,214.889999,2.233410e+07,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
msftData.reset_index().join(tslaData, on='Date', how='right', lsuffix='_tsla', rsuffix='_msft') # left, right, outer, inner

,Date,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft
2978.0,2010-07-19,19.670458,19.938405,19.631055,19.883240,38181800.0,0.0,0.0,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0
2980.0,2010-07-22,20.103902,20.482179,20.072378,20.363968,73016400.0,0.0,0.0,4.100000,4.250000,4.074000,4.200000,4789000,0,0.0
2984.0,2010-08-02,20.482181,20.789531,20.293042,20.750128,55044600.0,0.0,0.0,4.100000,4.194000,4.066000,4.184000,3590500,0,0.0
2989.0,2010-08-13,19.189732,19.441917,19.103043,19.229136,45263500.0,0.0,0.0,3.636000,3.690000,3.532000,3.664000,3170000,0,0.0
2990.0,2010-08-16,19.197607,19.394627,19.150321,19.307938,40909700.0,0.0,0.0,3.690000,3.760000,3.652000,3.756000,2429000,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,2020-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,402.809998,428.000000,372.019989,418.320007,110321900,0,0.0
NaN,2020-09-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,439.869995,457.790009,435.309998,441.760010,72279300,0,0.0
NaN,2020-09-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,416.000000,428.500000,411.600006,419.070007,50219300,0,0.0
NaN,2020-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.760010,448.880005,434.420013,448.160004,50741500,0,0.0
NaN,2020-10-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0

In [40]:
tslaData.merge(msftData, how='left', left_on='Date', right_on='Date', suffixes=['_tsla', '_msft'])  # more flexible

,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft
Date,,,,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-08,3.228000,3.504000,3.114000,3.492000,38557000,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-13,3.478000,3.728000,3.380000,3.628000,13400500,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-14,3.588000,4.030000,3.552000,3.968000,20976000,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-07-19,4.274000,4.450000,4.184000,4.382000,12432500,0,0.0,19.670458,19.938405,19.631055,19.883240,38181800.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-10-07,419.869995,429.899994,413.850006,425.299988,43127700,0,0.0,207.059998,210.110001,206.720001,209.830002,25681100.0,0.0,0.0
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0,211.229996,215.860001,211.229996,215.809998,26458000.0,0.0,0.0
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0,218.789993,223.860001,216.809998,221.399994,40461400.0,0.0,0.0
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0,222.720001,225.210007,220.429993,222.860001,28950800.0,0.0,0.0
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
pd.merge_asof(msftData, tslaData, left_on='Date', right_on='Date', suffixes=['_msft', '_tsla'], direction='nearest')  # useful for timeseries, try to join on on the closest data

,Date,Open_msft,High_msft,Low_msft,Close_msft,Volume_msft,Dividends_msft,Stock Splits_msft,Open_tsla,High_tsla,Low_tsla,Close_tsla,Volume_tsla,Dividends_tsla,Stock Splits_tsla
0,1986-03-13,0.056514,0.064825,0.056514,0.062055,1031788800,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,1986-03-14,0.062055,0.065379,0.062055,0.064271,308160000,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2,1986-03-17,0.064271,0.065933,0.064271,0.065379,133171200,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
3,1986-03-25,0.057623,0.058731,0.057068,0.058731,32083200,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
4,1986-03-26,0.058731,0.060947,0.058177,0.060393,22752000,0.0,0.0,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4305,2020-10-12,218.789993,223.860001,216.809998,221.399994,40461400,0.0,0.0,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
4306,2020-10-13,222.720001,225.210007,220.429993,222.860001,28950800,0.0,0.0,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
4307,2020-10-15,217.100006,220.360001,216.009995,219.660004,22733100,0.0,0.0,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
4308,2020-10-21,213.119995,216.919998,213.119995,214.800003,22724900,0.0,0.0,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
4309,2020-10-22,213.929993,216.059998,211.699997,214.889999,22334100,0.0,0.0,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0

### MultiIndex

In [42]:
import yfinance as yf
tickers = yf.Tickers('msft aapl goog tsla')
hist = tickers.history(group_by="ticker")

[*********************100%***********************]  4 of 4 completed

In [43]:
hist.head()

                   GOOG                                                  \
                   Open         High          Low        Close   Volume
Date
2020-09-23  1458.780029  1460.959961  1407.699951  1415.209961  1657400
2020-09-24  1411.030029  1443.708984  1409.849976  1428.290039  1450200
2020-09-25  1432.630005  1450.000000  1413.339966  1444.959961  1323000
2020-09-28  1474.209961  1476.800049  1449.301025  1464.520020  2007900
2020-09-29  1470.390015  1476.662964  1458.805054  1469.329956   978200

                                         MSFT                          ...  \
           Dividends Stock Splits        Open        High         Low  ...
Date                                                                   ...
2020-09-23         0            0  207.899994  208.100006  200.029999  ...
2020-09-24         0            0  199.850006  205.570007  199.199997  ...
2020-09-25         0            0  203.550003  209.039993  202.539993  ...
2020-09-28         0            0  210.880005  212.570007  208.059998  ...
2020-09-29         0            0  209.350006  210.070007  206.809998  ...

                TSLA                               AAPL              \
              Volume Dividends Stock Splits        Open        High
Date
2020-09-23  95074200         0            0  111.620003  112.110001
2020-09-24  96561100         0            0  105.169998  110.250000
2020-09-25  67208500         0            0  108.430000  112.440002
2020-09-28  49719600         0            0  115.010002  115.320000
2020-09-29  50219300         0            0  114.550003  115.309998


                   Low       Close     Volume Dividends Stock Splits
Date
2020-09-23  106.769997  107.120003  150718700         0            0
2020-09-24  105.000000  108.220001  167743300         0            0
2020-09-25  107.669998  112.279999  149981400         0            0
2020-09-28  112.779999  114.959999  137672400         0            0
2020-09-29  113.570000  114.089996   99382200         0            0

[5 rows x 28 columns]

In [44]:
hist.columns

MultiIndex([('GOOG',         'Open'),
            ('GOOG',         'High'),
            ('GOOG',          'Low'),
            ('GOOG',        'Close'),
            ('GOOG',       'Volume'),
            ('GOOG',    'Dividends'),
            ('GOOG', 'Stock Splits'),
            ('MSFT',         'Open'),
            ('MSFT',         'High'),
            ('MSFT',          'Low'),
            ('MSFT',        'Close'),
            ('MSFT',       'Volume'),
            ('MSFT',    'Dividends'),
            ('MSFT', 'Stock Splits'),
            ('TSLA',         'Open'),
            ('TSLA',         'High'),
            ('TSLA',          'Low'),
            ('TSLA',        'Close'),
            ('TSLA',       'Volume'),
            ('TSLA',    'Dividends'),
            ('TSLA', 'Stock Splits'),
            ('AAPL',         'Open'),
            ('AAPL',         'High'),
            ('AAPL',          'Low'),
            ('AAPL',        'Close'),
            ('AAPL',       'Volume'),
            ('AAPL',    'Dividends'),
            ('AAPL', 'Stock Splits')],
           )

In [45]:
hist.shape

(22, 28)

In [46]:
hist

                   GOOG                                                  \
                   Open         High          Low        Close   Volume
Date
2020-09-23  1458.780029  1460.959961  1407.699951  1415.209961  1657400
2020-09-24  1411.030029  1443.708984  1409.849976  1428.290039  1450200
2020-09-25  1432.630005  1450.000000  1413.339966  1444.959961  1323000
2020-09-28  1474.209961  1476.800049  1449.301025  1464.520020  2007900
2020-09-29  1470.390015  1476.662964  1458.805054  1469.329956   978200
2020-09-30  1466.800049  1489.750000  1459.880005  1469.599976  1700600
2020-10-01  1484.270020  1499.040039  1479.209961  1490.089966  1779500
2020-10-02  1462.030029  1483.199951  1450.920044  1458.420044  1284100
2020-10-05  1466.209961  1488.209961  1464.270020  1486.020020  1113300
2020-10-06  1475.579956  1486.760010  1448.589966  1453.439941  1245400
2020-10-07  1464.290039  1468.959961  1436.000000  1460.290039  1746200
2020-10-08  1465.089966  1490.000000  1465.089966  1485.930054  1187800
2020-10-09  1494.699951  1516.520020  1489.449951  1515.219971  1435300
2020-10-12  1543.000000  1593.859985  1532.569946  1569.150024  2482600
2020-10-13  1583.729980  1590.000000  1563.199951  1571.680054  1601000
2020-10-14  1578.589966  1587.683960  1550.530029  1568.079956  1931000
2020-10-15  1547.150024  1575.104980  1545.030029  1559.130005  1540000
2020-10-16  1565.849976  1581.130005  1563.000000  1573.010010  1434700
2020-10-19  1580.459961  1588.150024  1528.000000  1534.609985  1607100
2020-10-20  1527.050049  1577.500000  1525.670044  1555.930054  2241700
2020-10-21  1573.329956  1618.729980  1571.630005  1593.310059  2568300
2020-10-22  1593.050049  1621.989990  1585.000000  1615.329956  1433600

                                         MSFT                          ...  \
           Dividends Stock Splits        Open        High         Low  ...
Date                                                                   ...
2020-09-23         0            0  207.899994  208.100006  200.029999  ...
2020-09-24         0            0  199.850006  205.570007  199.199997  ...
2020-09-25         0            0  203.550003  209.039993  202.539993  ...
2020-09-28         0            0  210.880005  212.570007  208.059998  ...
2020-09-29         0            0  209.350006  210.070007  206.809998  ...
2020-09-30         0            0  207.729996  211.979996  206.539993  ...
2020-10-01         0            0  213.490005  213.990005  211.320007  ...
2020-10-02         0            0  208.000000  210.990005  205.539993  ...
2020-10-05         0            0  207.220001  210.410004  206.979996  ...
2020-10-06         0            0  208.820007  210.179993  204.820007  ...
2020-10-07         0            0  207.059998  210.110001  206.720001  ...
2020-10-08         0            0  210.509995  211.190002  208.320007  ...
2020-10-09         0            0  211.229996  215.860001  211.229996  ...
2020-10-12         0            0  218.789993  223.860001  216.809998  ...
2020-10-13         0            0  222.720001  225.210007  220.429993  ...
2020-10-14         0            0  223.000000  224.220001  219.130005  ...
2020-10-15         0            0  217.100006  220.360001  216.009995  ...
2020-10-16         0            0  220.149994  222.289993  219.320007  ...
2020-10-19         0            0  220.419998  222.300003  213.720001  ...
2020-10-20         0            0  215.800003  217.369995  213.089996  ...
2020-10-21         0            0  213.119995  216.919998  213.119995  ...
2020-10-22         0            0  213.929993  216.059998  211.699997  ...

                TSLA                               AAPL              \
              Volume Dividends Stock Splits        Open        High
Date
2020-09-23  95074200         0            0  111.620003  112.110001
2020-09-24  96561100         0            0  105.169998  110.250000
2020-09-25  67208500         0            0  108.430000  112.440002
2020-09-28  49719600         0            0  115.010002  115.320000
2020-09-29  50219300         0            0  114.550003  115.309998
2020-09-30  48145600         0            0  113.790001  117.260002
2020-10-01  50741500         0            0  117.639999  117.720001
2020-10-02  71430000         0            0  112.889999  115.370003
2020-10-05  44722800         0            0  113.910004  116.650002
2020-10-06  49146300         0            0  115.699997  116.120003
2020-10-07  43127700         0            0  114.620003  115.550003
2020-10-08  40421100         0            0  116.250000  116.400002
2020-10-09  28925700         0            0  115.279999  117.000000
2020-10-12  38791100         0            0  120.059998  125.180000
2020-10-13  34463700         0            0  125.269997  125.389999
2020-10-14  48045400         0            0  121.000000  123.029999
2020-10-15  35672400         0            0  118.720001  121.199997
2020-10-16  32775900         0            0  121.279999  121.550003
2020-10-19  36287800         0            0  119.959999  120.419998
2020-10-20  31656300         0            0  116.199997  118.980003
2020-10-21  32370500         0            0  116.669998  118.709999
2020-10-22  39825200         0            0  117.449997  118.040001


                   Low       Close     Volume Dividends Stock Splits
Date
2020-09-23  106.769997  107.120003  150718700         0            0
2020-09-24  105.000000  108.220001  167743300         0            0
2020-09-25  107.669998  112.279999  149981400         0            0
2020-09-28  112.779999  114.959999  137672400         0            0
2020-09-29  113.570000  114.089996   99382200         0            0
2020-09-30  113.620003  115.809998  142675200         0            0
2020-10-01  115.830002  116.790001  116120400         0            0
2020-10-02  112.220001  113.019997  144712000         0            0
2020-10-05  113.550003  116.500000  106243800         0            0
2020-10-06  112.250000  113.160004  161498200         0            0
2020-10-07  114.129997  115.080002   96849000         0            0
2020-10-08  114.589996  114.970001   83477200         0            0
2020-10-09  114.919998  116.970001  100506900         0            0
2020-10-12  119.279999  124.400002  240226800         0            0
2020-10-13  119.650002  121.099998  262330500         0            0
2020-10-14  119.620003  121.190002  151062300         0            0
2020-10-15  118.150002  120.709999  112559200         0            0
2020-10-16  118.809998  119.019997  115393800         0            0
2020-10-19  115.660004  115.980003  120639300         0            0
2020-10-20  115.629997  117.510002  124423700         0            0
2020-10-21  116.449997  116.870003   89946000         0            0
2020-10-22  114.589996  115.750000  101709700         0            0

[22 rows x 28 columns]

In [47]:
# Stack the table
hist.stack(level=0).reset_index().rename(columns = {'level_1':'Ticker'})

# Rename column level_1

,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume
0,2020-09-23,AAPL,107.120003,0,112.110001,106.769997,111.620003,0,150718700
1,2020-09-23,GOOG,1415.209961,0,1460.959961,1407.699951,1458.780029,0,1657400
2,2020-09-23,MSFT,200.589996,0,208.100006,200.029999,207.899994,0,30803800
3,2020-09-23,TSLA,380.359985,0,412.149994,375.880005,405.160004,0,95074200
4,2020-09-24,AAPL,108.220001,0,110.250000,105.000000,105.169998,0,167743300
...,...,...,...,...,...,...,...,...,...
83,2020-10-21,TSLA,422.640015,0,432.950012,421.250000,422.700012,0,32370500
84,2020-10-22,AAPL,115.750000,0,118.040001,114.589996,117.449997,0,101709700
85,2020-10-22,GOOG,1615.329956,0,1621.989990,1585.000000,1593.050049,0,1433600
86,2020-10-22,MSFT,214.889999,0,216.059998,211.699997,213.929993,0,22334100
87,2020-10-22,TSLA,425.790009,0,445.230011,424.510010,441.920013,0,39825200

In [48]:
hist.stack(level=0).unstack()

                 Close                                      Dividends       \
                  AAPL         GOOG        MSFT        TSLA      AAPL GOOG
Date
2020-09-23  107.120003  1415.209961  200.589996  380.359985         0    0
2020-09-24  108.220001  1428.290039  203.190002  387.790009         0    0
2020-09-25  112.279999  1444.959961  207.820007  407.339996         0    0
2020-09-28  114.959999  1464.520020  209.440002  421.200012         0    0
2020-09-29  114.089996  1469.329956  207.259995  419.070007         0    0
2020-09-30  115.809998  1469.599976  210.330002  429.010010         0    0
2020-10-01  116.790001  1490.089966  212.460007  448.160004         0    0
2020-10-02  113.019997  1458.420044  206.190002  415.089996         0    0
2020-10-05  116.500000  1486.020020  210.380005  425.679993         0    0
2020-10-06  113.160004  1453.439941  205.910004  413.980011         0    0
2020-10-07  115.080002  1460.290039  209.830002  425.299988         0    0
2020-10-08  114.970001  1485.930054  210.580002  425.920013         0    0
2020-10-09  116.970001  1515.219971  215.809998  434.000000         0    0
2020-10-12  124.400002  1569.150024  221.399994  442.299988         0    0
2020-10-13  121.099998  1571.680054  222.860001  446.649994         0    0
2020-10-14  121.190002  1568.079956  220.860001  461.299988         0    0
2020-10-15  120.709999  1559.130005  219.660004  448.880005         0    0
2020-10-16  119.019997  1573.010010  219.660004  439.670013         0    0
2020-10-19  115.980003  1534.609985  214.220001  430.829987         0    0
2020-10-20  117.510002  1555.930054  214.649994  421.940002         0    0
2020-10-21  116.870003  1593.310059  214.800003  422.640015         0    0
2020-10-22  115.750000  1615.329956  214.889999  425.790009         0    0

                            High               ...        Open              \
           MSFT TSLA        AAPL         GOOG  ...        MSFT        TSLA
Date                                           ...
2020-09-23    0    0  112.110001  1460.959961  ...  207.899994  405.160004
2020-09-24    0    0  110.250000  1443.708984  ...  199.850006  363.799988
2020-09-25    0    0  112.440002  1450.000000  ...  203.550003  393.470001
2020-09-28    0    0  115.320000  1476.800049  ...  210.880005  424.619995
2020-09-29    0    0  115.309998  1476.662964  ...  209.350006  416.000000
2020-09-30    0    0  117.260002  1489.750000  ...  207.729996  421.320007
2020-10-01    0    0  117.720001  1499.040039  ...  213.490005  440.760010
2020-10-02    0    0  115.370003  1483.199951  ...  208.000000  421.390015
2020-10-05    0    0  116.650002  1488.209961  ...  207.220001  423.350006
2020-10-06    0    0  116.120003  1486.760010  ...  208.820007  423.790009
2020-10-07    0    0  115.550003  1468.959961  ...  207.059998  419.869995
2020-10-08    0    0  116.400002  1490.000000  ...  210.509995  438.440002
2020-10-09    0    0  117.000000  1516.520020  ...  211.229996  430.130005
2020-10-12    0    0  125.180000  1593.859985  ...  218.789993  442.000000
2020-10-13    0    0  125.389999  1590.000000  ...  222.720001  443.350006
2020-10-14    0    0  123.029999  1587.683960  ...  223.000000  449.779999
2020-10-15    0    0  121.199997  1575.104980  ...  217.100006  450.309998
2020-10-16    0    0  121.550003  1581.130005  ...  220.149994  454.440002
2020-10-19    0    0  120.419998  1588.150024  ...  220.419998  446.239990
2020-10-20    0    0  118.980003  1577.500000  ...  215.800003  431.750000
2020-10-21    0    0  118.709999  1618.729980  ...  213.119995  422.700012
2020-10-22    0    0  118.040001  1621.989990  ...  213.929993  441.920013

           Stock Splits                    Volume
                   AAPL GOOG MSFT TSLA       AAPL     GOOG      MSFT      TSLA
Date
2020-09-23            0    0    0    0  150718700  1657400  30803800  95074200
2020-09-24            0    0    0    0  167743300  1450200  31202500  96561100
2020-09-25            0    0    0    0  149981400  1323000  29437300  67208500
2020-09-28            0    0    0    0  137672400  2007900  32004900  49719600
2020-09-29            0    0    0    0   99382200   978200  24221900  50219300
2020-09-30            0    0    0    0  142675200  1700600  33780700  48145600
2020-10-01            0    0    0    0  116120400  1779500  27158400  50741500
2020-10-02            0    0    0    0  144712000  1284100  33154800  71430000
2020-10-05            0    0    0    0  106243800  1113300  21331600  44722800
2020-10-06            0    0    0    0  161498200  1245400  28554300  49146300
2020-10-07            0    0    0    0   96849000  1746200  25681100  43127700
2020-10-08            0    0    0    0   83477200  1187800  19925800  40421100
2020-10-09            0    0    0    0  100506900  1435300  26458000  28925700
2020-10-12            0    0    0    0  240226800  2482600  40461400  38791100
2020-10-13            0    0    0    0  262330500  1601000  28950800  34463700
2020-10-14            0    0    0    0  151062300  1931000  23451700  48045400
2020-10-15            0    0    0    0  112559200  1540000  22733100  35672400
2020-10-16            0    0    0    0  115393800  1434700  26057900  32775900
2020-10-19            0    0    0    0  120639300  1607100  27625800  36287800
2020-10-20            0    0    0    0  124423700  2241700  22753500  31656300
2020-10-21            0    0    0    0   89946000  2568300  22724900  32370500
2020-10-22            0    0    0    0  101709700  1433600  22334100  39825200

[22 rows x 28 columns]

## Transformations

In [49]:
import pandas as pd
import yfinance as yf
tsla = yf.Ticker("TSLA")
tslaData = tsla.history(period="max")

msft = yf.Ticker("MSFT")
msftData = msft.history(period="max")

In [50]:
# Calculated columns
msftData['Daily Gain %'] = 100*(msftData['Close']-msftData['Open'])/msftData['Open'] # Approach 1 (preferred generally)
msftData = msftData.assign(Daily_Gain=lambda x:x['Close']-x['Open']) # Approach 2

msftData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Daily Gain %,Daily_Gain
Date,,,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1031788800,0.0,0.0,9.803927,0.005541
1986-03-14,0.062055,0.065379,0.062055,0.064271,308160000,0.0,0.0,3.571430,0.002216
1986-03-17,0.064271,0.065933,0.064271,0.065379,133171200,0.0,0.0,1.724131,0.001108
1986-03-18,0.065379,0.065933,0.063163,0.063717,67766400,0.0,0.0,-2.542371,-0.001662
1986-03-19,0.063717,0.064271,0.062055,0.062609,47894400,0.0,0.0,-1.739131,-0.001108
...,...,...,...,...,...,...,...,...,...
2020-10-16,220.149994,222.289993,219.320007,219.660004,26057900,0.0,0.0,-0.222571,-0.489990
2020-10-19,220.419998,222.300003,213.720001,214.220001,27625800,0.0,0.0,-2.812811,-6.199997
2020-10-20,215.800003,217.369995,213.089996,214.649994,22753500,0.0,0.0,-0.532905,-1.150009
2020-10-21,213.119995,216.919998,213.119995,214.800003,22724900,0.0,0.0,0.788292,1.680008
2020-10-22,213.929993,216.059998,211.699997,214.889999,22334100,0.0,0.0,0.448748,0.960007

In [51]:
tslaData.apply(lambda x:x*1e-6)  # scale back every column by 1e-6

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,0.000004,0.000005,0.000004,0.000005,93.8315,0.0,0.0
2010-06-30,0.000005,0.000006,0.000005,0.000005,85.9355,0.0,0.0
2010-07-01,0.000005,0.000005,0.000004,0.000004,41.0940,0.0,0.0
2010-07-02,0.000005,0.000005,0.000004,0.000004,25.6990,0.0,0.0
2010-07-06,0.000004,0.000004,0.000003,0.000003,34.3345,0.0,0.0
...,...,...,...,...,...,...,...
2020-10-16,0.000454,0.000456,0.000439,0.000440,32.7759,0.0,0.0
2020-10-19,0.000446,0.000447,0.000429,0.000431,36.2878,0.0,0.0
2020-10-20,0.000432,0.000432,0.000419,0.000422,31.6563,0.0,0.0
2020-10-21,0.000423,0.000433,0.000421,0.000423,32.3705,0.0,0.0
2020-10-22,0.000442,0.000445,0.000425,0.000426,39.8252,0.0,0.0

In [52]:
tslaData['Volume'] = tslaData['Volume'].apply(lambda x:x*1e-6)  # scale back the volume column bby 1e-6
tslaData

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0,0.0
...,...,...,...,...,...,...,...
2020-10-16,454.440002,455.950012,438.850006,439.670013,32.7759,0,0.0
2020-10-19,446.239990,447.000000,428.869995,430.829987,36.2878,0,0.0
2020-10-20,431.750000,431.750000,419.049988,421.940002,31.6563,0,0.0
2020-10-21,422.700012,432.950012,421.250000,422.640015,32.3705,0,0.0
2020-10-22,441.920013,445.230011,424.510010,425.790009,39.8252,0,0.0

In [53]:
msftData['Volume'] = msftData['Volume'].transform(lambda x:x*1e-6)  # simple case, not much different from apply
msftData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Daily Gain %,Daily_Gain
Date,,,,,,,,,
1986-03-13,0.056514,0.064825,0.056514,0.062055,1031.7888,0.0,0.0,9.803927,0.005541
1986-03-14,0.062055,0.065379,0.062055,0.064271,308.1600,0.0,0.0,3.571430,0.002216
1986-03-17,0.064271,0.065933,0.064271,0.065379,133.1712,0.0,0.0,1.724131,0.001108
1986-03-18,0.065379,0.065933,0.063163,0.063717,67.7664,0.0,0.0,-2.542371,-0.001662
1986-03-19,0.063717,0.064271,0.062055,0.062609,47.8944,0.0,0.0,-1.739131,-0.001108
...,...,...,...,...,...,...,...,...,...
2020-10-16,220.149994,222.289993,219.320007,219.660004,26.0579,0.0,0.0,-0.222571,-0.489990
2020-10-19,220.419998,222.300003,213.720001,214.220001,27.6258,0.0,0.0,-2.812811,-6.199997
2020-10-20,215.800003,217.369995,213.089996,214.649994,22.7535,0.0,0.0,-0.532905,-1.150009
2020-10-21,213.119995,216.919998,213.119995,214.800003,22.7249,0.0,0.0,0.788292,1.680008
2020-10-22,213.929993,216.059998,211.699997,214.889999,22.3341,0.0,0.0,0.448748,0.960007

In [54]:
tslaData['Ticker'] = 'TSLA'
msftData['Ticker'] = 'MSFT'
allData = pd.concat([tslaData, msftData], axis=0)  # combine tsla and msft data to a single dataframe

In [55]:
grouped = allData.groupby(['Ticker']).agg({'Volume': np.sum})  # sum total volume by the ticker
grouped

             Volume
Ticker
MSFT    523460.4601
TSLA     80932.4551

In [56]:
grouped = allData.groupby(['Ticker']).transform(np.sum)  # place it back to the original table, maintain table structure
grouped

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Daily Gain %,Daily_Gain
Date,,,,,,,,,
2010-06-29,135150.002138,138110.768142,132069.666042,135226.393926,80932.4551,0.00,5.0,0.000000,0.000000
2010-06-30,135150.002138,138110.768142,132069.666042,135226.393926,80932.4551,0.00,5.0,0.000000,0.000000
2010-07-01,135150.002138,138110.768142,132069.666042,135226.393926,80932.4551,0.00,5.0,0.000000,0.000000
2010-07-02,135150.002138,138110.768142,132069.666042,135226.393926,80932.4551,0.00,5.0,0.000000,0.000000
2010-07-06,135150.002138,138110.768142,132069.666042,135226.393926,80932.4551,0.00,5.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
2020-10-16,235752.107050,238261.895755,233183.594182,235811.042973,523460.4601,19.15,17.0,597.715627,58.935924
2020-10-19,235752.107050,238261.895755,233183.594182,235811.042973,523460.4601,19.15,17.0,597.715627,58.935924
2020-10-20,235752.107050,238261.895755,233183.594182,235811.042973,523460.4601,19.15,17.0,597.715627,58.935924
2020-10-21,235752.107050,238261.895755,233183.594182,235811.042973,523460.4601,19.15,17.0,597.715627,58.935924
2020-10-22,235752.107050,238261.895755,233183.594182,235811.042973,523460.4601,19.15,17.0,597.715627,58.935924

In [57]:
#allData['TickerAvgVolume'] = allData.groupby(['Ticker']).agg({'Volume': 'sum'}) # doesnt work
# For each ticker, what's the average volume is and put that volume back to the table
allData.join(allData.groupby(['Ticker']).agg({'Volume': 'mean'}).rename(columns={'Volume':'TickerAvgVolume'}), on='Ticker')

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Daily Gain %,Daily_Gain,TickerAvgVolume
Date,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0.0,0.0,TSLA,NaN,NaN,31.139844
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-16,220.149994,222.289993,219.320007,219.660004,26.0579,0.0,0.0,MSFT,-0.222571,-0.489990,59.988593
2020-10-19,220.419998,222.300003,213.720001,214.220001,27.6258,0.0,0.0,MSFT,-2.812811,-6.199997,59.988593
2020-10-20,215.800003,217.369995,213.089996,214.649994,22.7535,0.0,0.0,MSFT,-0.532905,-1.150009,59.988593
2020-10-21,213.119995,216.919998,213.119995,214.800003,22.7249,0.0,0.0,MSFT,0.788292,1.680008,59.988593
2020-10-22,213.929993,216.059998,211.699997,214.889999,22.3341,0.0,0.0,MSFT,0.448748,0.960007,59.988593

In [58]:
allData.join(allData.groupby(['Ticker']).agg({'Volume': 'mean'}).rename(columns={'Volume':'TickerAvgVolume'}), on='Ticker')

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Daily Gain %,Daily_Gain,TickerAvgVolume
Date,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0.0,0.0,TSLA,NaN,NaN,31.139844
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-16,220.149994,222.289993,219.320007,219.660004,26.0579,0.0,0.0,MSFT,-0.222571,-0.489990,59.988593
2020-10-19,220.419998,222.300003,213.720001,214.220001,27.6258,0.0,0.0,MSFT,-2.812811,-6.199997,59.988593
2020-10-20,215.800003,217.369995,213.089996,214.649994,22.7535,0.0,0.0,MSFT,-0.532905,-1.150009,59.988593
2020-10-21,213.119995,216.919998,213.119995,214.800003,22.7249,0.0,0.0,MSFT,0.788292,1.680008,59.988593
2020-10-22,213.929993,216.059998,211.699997,214.889999,22.3341,0.0,0.0,MSFT,0.448748,0.960007,59.988593

In [59]:
allData.groupby(['Ticker']).transform('mean')[['Volume']] # vs agg

               Volume
Date
2010-06-29  31.139844
2010-06-30  31.139844
2010-07-01  31.139844
2010-07-02  31.139844
2010-07-06  31.139844
...               ...
2020-10-16  59.988593
2020-10-19  59.988593
2020-10-20  59.988593
2020-10-21  59.988593
2020-10-22  59.988593

[11325 rows x 1 columns]

In [60]:
# Cleaner!
allData['TickerAvgVolume'] = allData.groupby(['Ticker']).transform('mean')[['Volume']].rename(columns={'Volume':'TickerAvgVolume'})
allData

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ticker,Daily Gain %,Daily_Gain,TickerAvgVolume
Date,,,,,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93.8315,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-06-30,5.158000,6.084000,4.660000,4.766000,85.9355,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-01,5.000000,5.184000,4.054000,4.392000,41.0940,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-02,4.600000,4.620000,3.742000,3.840000,25.6990,0.0,0.0,TSLA,NaN,NaN,31.139844
2010-07-06,4.000000,4.000000,3.166000,3.222000,34.3345,0.0,0.0,TSLA,NaN,NaN,31.139844
...,...,...,...,...,...,...,...,...,...,...,...
2020-10-16,220.149994,222.289993,219.320007,219.660004,26.0579,0.0,0.0,MSFT,-0.222571,-0.489990,59.988593
2020-10-19,220.419998,222.300003,213.720001,214.220001,27.6258,0.0,0.0,MSFT,-2.812811,-6.199997,59.988593
2020-10-20,215.800003,217.369995,213.089996,214.649994,22.7535,0.0,0.0,MSFT,-0.532905,-1.150009,59.988593
2020-10-21,213.119995,216.919998,213.119995,214.800003,22.7249,0.0,0.0,MSFT,0.788292,1.680008,59.988593
2020-10-22,213.929993,216.059998,211.699997,214.889999,22.3341,0.0,0.0,MSFT,0.448748,0.960007,59.988593

### Time Series

#### Timestamps

In [61]:
# Using datetime
import datetime
import pytz

dateToConvert = datetime.datetime(2020,7,1,15,31,24) # This is a 'naive' time without timezone
dateToConvert

datetime.datetime(2020, 7, 1, 15, 31, 24)

In [62]:
dateToConvert.astimezone(pytz.UTC) # Set to UTC, Time stays the same
#dateToConvert.astimezone(pytz.timezone('US/Eastern')) # Set to Eastern, Time stays the same

datetime.datetime(2020, 7, 1, 22, 31, 24, tzinfo=<UTC>)

In [63]:
pytz.timezone('US/Eastern').localize(dateToConvert)

datetime.datetime(2020, 7, 1, 15, 31, 24, tzinfo=<DstTzInfo 'US/Eastern' EDT-1 day, 20:00:00 DST>)

In [64]:
#dateToConvert = dateToConvert.astimezone(pytz.UTC)
# localize take the original datetime and localize to the specified timezone
pytz.timezone('America/Chicago').localize(dateToConvert).astimezone(pytz.UTC) # America/Chicago

datetime.datetime(2020, 7, 1, 20, 31, 24, tzinfo=<UTC>)

In [65]:
start = pd.to_datetime('2015-01-01')  # convert string to an np.datetime64
end = pd.to_datetime('2018-01-01')

def random_dates(start, end, n=10):

    start_u = start.value//10**9
    end_u = end.value//10**9

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit='s')

dates = random_dates(start, end, 1000000)
pyDates = list(dates.to_pydatetime())

In [66]:
pyDates

[datetime.datetime(2016, 12, 3, 8, 0, 4),
 datetime.datetime(2016, 11, 28, 20, 55, 36),
 datetime.datetime(2017, 5, 19, 11, 2, 58),
 datetime.datetime(2016, 4, 1, 13, 9, 3),
 datetime.datetime(2015, 9, 3, 18, 53, 27),
 datetime.datetime(2015, 6, 4, 7, 0, 31),
 datetime.datetime(2016, 4, 21, 7, 16, 5),
 datetime.datetime(2016, 1, 13, 15, 2, 33),
 datetime.datetime(2016, 7, 20, 20, 51, 16),
 datetime.datetime(2015, 12, 16, 7, 19, 44),
 datetime.datetime(2015, 4, 20, 4, 59, 54),
 datetime.datetime(2015, 5, 6, 23, 15, 9),
 datetime.datetime(2016, 12, 3, 16, 46),
 datetime.datetime(2015, 11, 6, 0, 36, 39),
 datetime.datetime(2017, 10, 5, 3, 23, 37),
 datetime.datetime(2016, 12, 22, 1, 59, 13),
 datetime.datetime(2017, 2, 22, 21, 24, 18),
 datetime.datetime(2015, 5, 27, 9, 10, 46),
 datetime.datetime(2017, 9, 16, 18, 24, 11),
 datetime.datetime(2015, 1, 28, 3, 41, 38),
 datetime.datetime(2017, 1, 3, 11, 6, 44),
 datetime.datetime(2017, 1, 6, 7, 42, 25),
 datetime.datetime(2017, 1, 28, 9, 31, 39),
 datetime.datetime(2017, 5, 23, 6, 44, 15),
 datetime.datetime(2016, 9, 27, 9, 11, 8),
 datetime.datetime(2015, 7, 23, 8, 17, 42),
 datetime.datetime(2017, 10, 13, 10, 34, 57),
 datetime.datetime(2016, 3, 17, 9, 58, 36),
 datetime.datetime(2016, 9, 12, 7, 8, 8),
 datetime.datetime(2015, 8, 17, 11, 29, 24),
 datetime.datetime(2016, 5, 16, 17, 14, 13),
 datetime.datetime(2015, 10, 18, 13, 1, 23),
 datetime.datetime(2017, 3, 30, 17, 28, 24),
 datetime.datetime(2017, 7, 10, 20, 40, 27),
 datetime.datetime(2016, 5, 26, 12, 16, 13),
 datetime.datetime(2017, 8, 4, 0, 9, 29),
 datetime.datetime(2015, 4, 1, 4, 22, 10),
 datetime.datetime(2015, 4, 1, 0, 52, 22),
 datetime.datetime(2017, 3, 9, 2, 47, 27),
 datetime.datetime(2017, 8, 18, 1, 16, 9),
 datetime.datetime(2017, 6, 15, 11, 4, 20),
 datetime.datetime(2017, 12, 23, 17, 44, 35),
 datetime.datetime(2015, 12, 9, 10, 1, 55),
 datetime.datetime(2016, 3, 22, 8, 33, 25),
 datetime.datetime(2017, 9, 2, 10, 57, 35),
 datetime.datetime(2015, 12, 8, 17, 21, 13),
 datetime.datetime(2016, 12, 28, 15, 1, 35),
 datetime.datetime(2015, 1, 1, 17, 37, 3),
 datetime.datetime(2017, 4, 4, 15, 42, 42),
 datetime.datetime(2016, 3, 25, 3, 50, 6),
 datetime.datetime(2015, 6, 5, 7, 4, 30),
 datetime.datetime(2016, 8, 8, 20, 17, 1),
 datetime.datetime(2017, 6, 11, 0, 31, 14),
 datetime.datetime(2016, 6, 28, 5, 13, 1),
 datetime.datetime(2016, 6, 22, 21, 0, 34),
 datetime.datetime(2017, 2, 5, 17, 14, 14),
 datetime.datetime(2016, 1, 28, 14, 45, 59),
 datetime.datetime(2016, 9, 24, 2, 3, 26),
 datetime.datetime(2016, 2, 19, 6, 0, 10),
 datetime.datetime(2015, 5, 25, 9, 40, 22),
 datetime.datetime(2016, 9, 12, 4, 14, 2),
 datetime.datetime(2015, 6, 14, 20, 34),
 datetime.datetime(2016, 6, 24, 12, 2, 38),
 datetime.datetime(2017, 3, 26, 22, 58, 50),
 datetime.datetime(2017, 8, 13, 9, 27, 4),
 datetime.datetime(2015, 8, 14, 5, 57, 33),
 datetime.datetime(2015, 1, 7, 7, 21, 59),
 datetime.datetime(2015, 12, 20, 17, 53, 11),
 datetime.datetime(2015, 9, 14, 14, 54, 49),
 datetime.datetime(2016, 8, 17, 4, 33, 14),
 datetime.datetime(2015, 7, 5, 3, 49, 33),
 datetime.datetime(2017, 10, 23, 2, 2, 57),
 datetime.datetime(2015, 9, 2, 2, 57, 31),
 datetime.datetime(2015, 11, 11, 14, 32, 32),
 datetime.datetime(2016, 6, 12, 0, 38, 9),
 datetime.datetime(2015, 2, 3, 3, 3, 52),
 datetime.datetime(2016, 10, 28, 7, 28, 23),
 datetime.datetime(2017, 7, 7, 15, 49, 9),
 datetime.datetime(2016, 1, 10, 20, 26, 24),
 datetime.datetime(2015, 7, 23, 0, 47, 31),
 datetime.datetime(2017, 9, 15, 2, 59, 52),
 datetime.datetime(2015, 6, 4, 13, 56, 35),
 datetime.datetime(2015, 12, 7, 4, 15, 15),
 datetime.datetime(2016, 3, 5, 16, 14, 37),
 datetime.datetime(2016, 11, 26, 11, 36, 39),
 datetime.datetime(2015, 5, 15, 6, 33, 58),
 datetime.datetime(2017, 6, 16, 0, 54, 56),
 datetime.datetime(2017, 6, 16, 4, 53, 34),
 datetime.datetime(2017, 7, 21, 1, 55, 30),
 datetime.datetime(2017, 7, 29, 16, 21, 36),
 datetime.datetime(2017, 6, 27, 4, 14, 30),
 datetime.datetime(2017, 11, 8, 17, 57, 32),
 datetime.datetime(2017, 3, 1, 9, 41, 50),
 datetime.datetime(2015, 2, 18, 15, 51, 41),
 datetime.datetime(2015, 6, 25, 14, 57, 29),
 datetime.datetime(2016, 11, 5, 20, 10, 37),
 datetime.datetime(2017, 1, 2, 5, 33, 1),
 datetime.datetime(2015, 6, 10, 5, 14),
 datetime.datetime(2015, 2, 24, 14, 52, 38),
 datetime.datetime(2017, 9, 6, 15, 26, 18),
 datetime.datetime(2016, 3, 16, 20, 40, 29),
 datetime.datetime(2016, 9, 14, 11, 14, 14),
 datetime.datetime(2015, 5, 13, 13, 14, 56),
 datetime.datetime(2016, 8, 9, 2, 31, 2),
 datetime.datetime(2016, 12, 30, 17, 8, 6),
 datetime.datetime(2016, 2, 28, 6, 52, 46),
 datetime.datetime(2016, 8, 4, 13, 1, 47),
 datetime.datetime(2016, 4, 26, 8, 30, 53),
 datetime.datetime(2017, 3, 24, 3, 26, 42),
 datetime.datetime(2015, 3, 28, 0, 44, 31),
 datetime.datetime(2016, 7, 30, 3, 2, 38),
 datetime.datetime(2015, 3, 1, 21, 3, 10),
 datetime.datetime(2015, 12, 6, 18, 53, 41),
 datetime.datetime(2016, 10, 24, 2, 55, 31),
 datetime.datetime(2017, 6, 25, 16, 46, 56),
 datetime.datetime(2015, 12, 25, 10, 0, 10),
 datetime.datetime(2016, 1, 1, 3, 32, 54),
 datetime.datetime(2017, 2, 4, 8, 45, 29),
 datetime.datetime(2017, 11, 11, 0, 19, 10),
 datetime.datetime(2015, 7, 17, 14, 48, 49),
 datetime.datetime(2017, 12, 4, 17, 2, 29),
 datetime.datetime(2015, 7, 9, 16, 32, 28),
 datetime.datetime(2015, 12, 19, 18, 24, 8),
 datetime.datetime(2017, 9, 2, 8, 13, 22),
 datetime.datetime(2015, 9, 20, 8, 12, 9),
 datetime.datetime(2015, 7, 20, 5, 48, 11),
 datetime.datetime(2015, 2, 10, 18, 44, 22),
 datetime.datetime(2015, 10, 3, 5, 53, 38),
 datetime.datetime(2016, 12, 4, 23, 9, 20),
 datetime.datetime(2017, 1, 8, 16, 5, 15),
 datetime.datetime(2017, 6, 27, 17, 44, 57),
 datetime.datetime(2017, 2, 24, 15, 22, 35),
 datetime.datetime(2016, 1, 29, 14, 36, 18),
 datetime.datetime(2017, 11, 5, 14, 59, 37),
 datetime.datetime(2015, 4, 2, 14, 12, 57),
 datetime.datetime(2015, 8, 6, 7, 9, 40),
 datetime.datetime(2017, 12, 4, 22, 1, 4),
 datetime.datetime(2017, 6, 11, 22, 54, 29),
 datetime.datetime(2017, 12, 6, 23, 49, 59),
 datetime.datetime(2015, 10, 2, 14, 51, 39),
 datetime.datetime(2017, 8, 20, 11, 19, 50),
 datetime.datetime(2015, 10, 13, 21, 24, 23),
 datetime.datetime(2017, 1, 22, 0, 2, 18),
 datetime.datetime(2016, 8, 10, 19, 44, 31),
 datetime.datetime(2016, 1, 10, 8, 53, 42),
 datetime.datetime(2016, 8, 7, 9, 4, 18),
 datetime.datetime(2017, 1, 7, 12, 33, 10),
 datetime.datetime(2015, 5, 12, 21, 52, 37),
 datetime.datetime(2015, 3, 21, 23, 29, 56),
 datetime.datetime(2017, 4, 13, 11, 45, 43),
 datetime.datetime(2017, 3, 27, 20, 34, 14),
 datetime.datetime(2016, 3, 15, 17, 34, 55),
 datetime.datetime(2015, 6, 7, 12, 10, 54),
 datetime.datetime(2017, 8, 26, 23, 44, 26),
 datetime.datetime(2016, 1, 23, 21, 25, 53),
 datetime.datetime(2017, 8, 6, 5, 13, 41),
 datetime.datetime(2016, 8, 25, 13, 5, 34),
 datetime.datetime(2017, 7, 20, 12, 56, 39),
 datetime.datetime(2015, 11, 23, 5, 33, 5),
 datetime.datetime(2017, 12, 13, 23, 36, 20),
 datetime.datetime(2015, 9, 29, 4, 46, 31),
 datetime.datetime(2017, 9, 11, 16, 8, 27),
 datetime.datetime(2016, 11, 3, 7, 20, 13),
 datetime.datetime(2017, 8, 4, 8, 16, 26),
 datetime.datetime(2016, 10, 8, 11, 14, 17),
 datetime.datetime(2017, 8, 19, 14, 23),
 datetime.datetime(2016, 1, 3, 21, 1, 5),
 datetime.datetime(2017, 6, 14, 5, 21, 18),
 datetime.datetime(2015, 6, 16, 7, 48, 4),
 datetime.datetime(2016, 3, 11, 1, 10, 18),
 datetime.datetime(2015, 6, 16, 17, 18, 7),
 datetime.datetime(2017, 12, 6, 22, 19, 49),
 datetime.datetime(2017, 9, 19, 16, 14, 18),
 datetime.datetime(2016, 4, 28, 17, 11, 54),
 datetime.datetime(2015, 12, 17, 4, 15, 14),
 datetime.datetime(2015, 2, 3, 8, 42, 59),
 datetime.datetime(2016, 3, 2, 9, 1, 11),
 datetime.datetime(2016, 2, 17, 11, 42, 40),
 datetime.datetime(2015, 4, 30, 17, 51, 29),
 datetime.datetime(2015, 3, 28, 14, 56, 7),
 datetime.datetime(2015, 12, 21, 21, 34, 40),
 datetime.datetime(2017, 6, 9, 23, 29, 55),
 datetime.datetime(2016, 12, 15, 11, 20, 49),
 datetime.datetime(2016, 1, 24, 15, 42, 57),
 datetime.datetime(2015, 7, 7, 17, 45, 23),
 datetime.datetime(2016, 1, 5, 1, 20, 10),
 datetime.datetime(2016, 2, 25, 3, 1, 30),
 datetime.datetime(2016, 1, 13, 23, 54, 27),
 datetime.datetime(2017, 3, 1, 6, 36, 19),
 datetime.datetime(2015, 6, 11, 10, 9, 46),
 datetime.datetime(2016, 7, 6, 15, 21, 53),
 datetime.datetime(2017, 6, 11, 9, 53, 49),
 datetime.datetime(2016, 5, 22, 4, 26, 14),
 datetime.datetime(2017, 11, 27, 17, 37, 15),
 datetime.datetime(2015, 10, 2, 10, 35, 49),
 datetime.datetime(2016, 12, 3, 18, 38, 33),
 datetime.datetime(2015, 2, 2, 12, 6, 6),
 datetime.datetime(2015, 6, 26, 12, 42, 33),
 datetime.datetime(2015, 2, 17, 15, 36),
 datetime.datetime(2015, 1, 30, 13, 25, 23),
 datetime.datetime(2016, 9, 25, 1, 3, 21),
 datetime.datetime(2017, 5, 3, 19, 25, 22),
 datetime.datetime(2016, 11, 3, 0, 33, 47),
 datetime.datetime(2017, 10, 23, 9, 59, 17),
 datetime.datetime(2017, 10, 7, 13, 38, 6),
 datetime.datetime(2017, 5, 8, 20, 55, 38),
 datetime.datetime(2016, 12, 12, 13, 29, 25),
 datetime.datetime(2016, 12, 12, 9, 27, 9),
 datetime.datetime(2017, 12, 2, 9, 13, 20),
 datetime.datetime(2017, 5, 4, 16, 22, 45),
 datetime.datetime(2016, 3, 6, 22, 14, 38),
 datetime.datetime(2017, 8, 25, 2, 5, 16),
 datetime.datetime(2017, 10, 6, 23, 38, 56),
 datetime.datetime(2015, 1, 12, 15, 5, 51),
 datetime.datetime(2016, 5, 16, 20, 22, 20),
 datetime.datetime(2016, 6, 16, 1, 24, 42),
 datetime.datetime(2015, 1, 9, 17, 55, 1),
 datetime.datetime(2015, 3, 31, 14, 31, 6),
 datetime.datetime(2016, 3, 26, 1, 49, 56),
 datetime.datetime(2016, 4, 7, 6, 14, 22),
 datetime.datetime(2016, 4, 27, 21, 28, 41),
 datetime.datetime(2017, 6, 22, 22, 15, 8),
 datetime.datetime(2016, 12, 11, 14, 56, 13),
 datetime.datetime(2015, 12, 23, 8, 59, 12),
 datetime.datetime(2017, 4, 17, 5, 38, 33),
 datetime.datetime(2016, 5, 5, 9, 46, 43),
 datetime.datetime(2015, 6, 30, 5, 34, 54),
 datetime.datetime(2015, 4, 4, 19, 22, 50),
 datetime.datetime(2016, 5, 24, 13, 32, 11),
 datetime.datetime(2016, 4, 21, 19, 48, 55),
 datetime.datetime(2016, 10, 2, 6, 16, 33),
 datetime.datetime(2016, 2, 28, 7, 49, 14),
 datetime.datetime(2016, 1, 17, 19, 10, 14),
 datetime.datetime(2015, 6, 10, 22, 8, 20),
 datetime.datetime(2017, 10, 27, 22, 29, 52),
 datetime.datetime(2016, 8, 18, 4, 41, 4),
 datetime.datetime(2015, 1, 28, 8, 35, 20),
 datetime.datetime(2015, 3, 2, 7, 4, 20),
 datetime.datetime(2017, 2, 2, 1, 10, 1),
 datetime.datetime(2016, 3, 15, 5, 57, 13),
 datetime.datetime(2015, 2, 25, 20, 17, 7),
 datetime.datetime(2015, 6, 3, 9, 53, 20),
 datetime.datetime(2015, 1, 21, 18, 9, 25),
 datetime.datetime(2015, 9, 22, 21, 47, 15),
 datetime.datetime(2017, 9, 26, 9, 31, 15),
 datetime.datetime(2016, 2, 28, 21, 33, 9),
 datetime.datetime(2016, 6, 1, 22, 26, 18),
 datetime.datetime(2017, 5, 17, 14, 5, 40),
 datetime.datetime(2016, 12, 14, 18, 15, 20),
 datetime.datetime(2017, 9, 16, 18, 6, 48),
 datetime.datetime(2017, 9, 23, 14, 29, 12),
 datetime.datetime(2015, 7, 19, 2, 57, 47),
 datetime.datetime(2016, 1, 31, 19, 52, 28),
 datetime.datetime(2015, 2, 16, 21, 27, 17),
 datetime.datetime(2017, 9, 3, 12, 43, 14),
 datetime.datetime(2015, 11, 11, 6, 55, 33),
 datetime.datetime(2017, 6, 9, 23, 56, 57),
 datetime.datetime(2016, 6, 18, 20, 5, 26),
 datetime.datetime(2017, 8, 17, 0, 41, 29),
 datetime.datetime(2015, 11, 27, 6, 41, 44),
 datetime.datetime(2016, 6, 30, 19, 59, 25),
 datetime.datetime(2015, 5, 23, 5, 20, 2),
 datetime.datetime(2016, 1, 30, 22, 59, 19),
 datetime.datetime(2016, 3, 3, 15, 1, 30),
 datetime.datetime(2015, 1, 13, 22, 28, 18),
 datetime.datetime(2015, 1, 29, 0, 34, 20),
 datetime.datetime(2017, 2, 21, 23, 45, 23),
 datetime.datetime(2016, 12, 26, 0, 40, 16),
 datetime.datetime(2016, 1, 28, 10, 47, 52),
 datetime.datetime(2016, 5, 13, 8, 0, 39),
 datetime.datetime(2017, 3, 31, 15, 29, 34),
 datetime.datetime(2017, 9, 14, 13, 18, 41),
 datetime.datetime(2017, 5, 31, 20, 8, 30),
 datetime.datetime(2016, 8, 3, 17, 6, 56),
 datetime.datetime(2016, 5, 30, 7, 54, 10),
 datetime.datetime(2017, 11, 10, 17, 17, 56),
 datetime.datetime(2015, 6, 27, 15, 54, 25),
 datetime.datetime(2017, 1, 23, 15, 51, 46),
 datetime.datetime(2016, 2, 15, 0, 44, 28),
 datetime.datetime(2017, 2, 3, 3, 26),
 datetime.datetime(2015, 4, 7, 21, 11, 14),
 datetime.datetime(2016, 9, 1, 21, 50, 45),
 datetime.datetime(2017, 5, 24, 0, 54, 10),
 datetime.datetime(2016, 7, 30, 0, 11, 49),
 datetime.datetime(2015, 4, 14, 7, 40, 51),
 datetime.datetime(2015, 11, 2, 22, 10, 25),
 datetime.datetime(2017, 7, 27, 2, 33, 25),
 datetime.datetime(2015, 12, 12, 22, 49, 17),
 datetime.datetime(2015, 8, 18, 15, 37, 59),
 datetime.datetime(2015, 12, 30, 15, 27, 45),
 datetime.datetime(2017, 11, 28, 0, 34, 28),
 datetime.datetime(2015, 10, 11, 21, 45, 28),
 datetime.datetime(2017, 6, 27, 19, 26, 31),
 datetime.datetime(2016, 9, 18, 8, 6, 23),
 datetime.datetime(2016, 12, 16, 17, 23, 51),
 datetime.datetime(2016, 8, 4, 1, 49, 42),
 datetime.datetime(2016, 1, 28, 1, 37, 41),
 datetime.datetime(2017, 6, 20, 14, 40, 44),
 datetime.datetime(2016, 4, 15, 23, 29, 37),
 datetime.datetime(2015, 1, 8, 6, 24, 7),
 datetime.datetime(2015, 3, 21, 6, 28, 39),
 datetime.datetime(2016, 1, 29, 7, 24, 52),
 datetime.datetime(2016, 6, 20, 0, 30, 28),
 datetime.datetime(2015, 1, 7, 2, 42, 29),
 datetime.datetime(2016, 10, 3, 3, 43, 43),
 datetime.datetime(2015, 10, 18, 2, 8, 45),
 datetime.datetime(2016, 8, 13, 1, 36, 30),
 datetime.datetime(2015, 3, 17, 23, 7, 40),
 datetime.datetime(2017, 3, 23, 20, 11, 11),
 datetime.datetime(2015, 8, 23, 13, 53, 19),
 datetime.datetime(2016, 8, 7, 2, 6, 20),
 datetime.datetime(2015, 9, 21, 6, 7, 1),
 datetime.datetime(2016, 9, 10, 10, 14, 25),
 datetime.datetime(2016, 11, 20, 21, 21, 25),
 datetime.datetime(2016, 1, 2, 5, 36, 26),
 datetime.datetime(2016, 11, 18, 14, 33, 31),
 datetime.datetime(2016, 6, 5, 19, 45, 21),
 datetime.datetime(2016, 10, 21, 10, 56, 13),
 datetime.datetime(2016, 6, 28, 14, 9, 45),
 datetime.datetime(2017, 8, 26, 13, 50, 20),
 datetime.datetime(2017, 7, 27, 22, 36, 37),
 datetime.datetime(2017, 12, 26, 1, 15, 42),
 datetime.datetime(2015, 11, 7, 3, 42, 14),
 datetime.datetime(2016, 1, 27, 15, 35, 2),
 datetime.datetime(2015, 3, 1, 23, 12, 42),
 datetime.datetime(2015, 7, 31, 2, 43, 53),
 datetime.datetime(2016, 2, 15, 7, 3, 30),
 datetime.datetime(2015, 10, 13, 0, 50, 31),
 datetime.datetime(2016, 11, 13, 5, 52, 25),
 datetime.datetime(2015, 2, 17, 2, 57, 32),
 datetime.datetime(2016, 10, 17, 16, 22, 47),
 datetime.datetime(2017, 2, 26, 16, 3, 11),
 datetime.datetime(2017, 3, 27, 13, 48, 13),
 datetime.datetime(2015, 3, 5, 19, 5, 59),
 datetime.datetime(2015, 1, 25, 10, 18, 4),
 datetime.datetime(2017, 7, 13, 1, 54, 47),
 datetime.datetime(2015, 4, 5, 1, 48, 47),
 datetime.datetime(2016, 1, 26, 2, 30, 13),
 datetime.datetime(2015, 3, 21, 17, 29, 21),
 datetime.datetime(2015, 10, 13, 6, 53, 39),
 datetime.datetime(2017, 10, 21, 18, 59, 55),
 datetime.datetime(2015, 10, 18, 15, 21, 12),
 datetime.datetime(2015, 9, 24, 1, 22, 33),
 datetime.datetime(2015, 6, 7, 5, 29, 4),
 datetime.datetime(2016, 3, 23, 3, 48, 23),
 datetime.datetime(2016, 8, 8, 5, 32, 41),
 datetime.datetime(2015, 3, 28, 17, 2, 33),
 datetime.datetime(2016, 12, 24, 20, 21, 17),
 datetime.datetime(2015, 3, 18, 6, 15, 50),
 datetime.datetime(2016, 11, 21, 17, 51, 58),
 datetime.datetime(2015, 8, 10, 1, 26, 50),
 datetime.datetime(2016, 2, 23, 2, 1, 4),
 datetime.datetime(2016, 4, 11, 2, 40, 46),
 datetime.datetime(2017, 5, 1, 6, 12, 52),
 datetime.datetime(2016, 7, 25, 14, 52, 42),
 datetime.datetime(2015, 8, 17, 2, 26, 28),
 datetime.datetime(2015, 9, 13, 2, 35, 20),
 datetime.datetime(2017, 1, 31, 18, 1, 58),
 datetime.datetime(2017, 4, 27, 11, 42, 54),
 datetime.datetime(2015, 9, 30, 22, 51, 7),
 datetime.datetime(2016, 6, 14, 11, 43, 24),
 datetime.datetime(2015, 1, 20, 14, 38, 15),
 datetime.datetime(2017, 12, 12, 15, 29, 29),
 datetime.datetime(2017, 12, 19, 10, 17, 43),
 datetime.datetime(2017, 6, 26, 14, 17, 50),
 datetime.datetime(2016, 6, 6, 18, 15, 30),
 datetime.datetime(2015, 11, 12, 12, 44, 8),
 datetime.datetime(2017, 9, 23, 9, 51, 39),
 datetime.datetime(2017, 5, 14, 6, 7, 10),
 datetime.datetime(2015, 1, 6, 18, 47, 21),
 datetime.datetime(2015, 9, 25, 10, 34, 56),
 datetime.datetime(2017, 5, 18, 6, 0, 12),
 datetime.datetime(2017, 12, 10, 21, 54, 16),
 datetime.datetime(2016, 4, 11, 1, 32, 45),
 datetime.datetime(2017, 6, 5, 8, 5, 35),
 datetime.datetime(2016, 6, 21, 18, 0, 2),
 datetime.datetime(2016, 8, 10, 2, 17, 42),
 datetime.datetime(2017, 2, 12, 21, 51, 48),
 datetime.datetime(2017, 11, 7, 22, 15, 3),
 datetime.datetime(2016, 7, 2, 8, 51, 45),
 datetime.datetime(2015, 1, 9, 11, 39, 59),
 datetime.datetime(2017, 9, 7, 7, 27, 14),
 datetime.datetime(2016, 11, 14, 1, 34, 4),
 datetime.datetime(2017, 6, 9, 9, 51, 48),
 datetime.datetime(2015, 11, 4, 5, 36, 48),
 datetime.datetime(2016, 11, 11, 9, 15, 8),
 datetime.datetime(2016, 3, 1, 2, 11, 8),
 datetime.datetime(2015, 8, 24, 0, 31, 55),
 datetime.datetime(2016, 3, 19, 9, 52, 14),
 datetime.datetime(2017, 6, 10, 6, 54, 43),
 datetime.datetime(2016, 10, 12, 17, 6, 42),
 datetime.datetime(2017, 7, 7, 15, 36, 55),
 datetime.datetime(2016, 2, 21, 3, 21, 37),
 datetime.datetime(2017, 11, 25, 22, 37, 11),
 datetime.datetime(2017, 8, 8, 22, 12, 29),
 datetime.datetime(2015, 5, 6, 17, 14, 19),
 datetime.datetime(2017, 11, 25, 15, 13, 36),
 datetime.datetime(2016, 2, 25, 4, 51, 36),
 datetime.datetime(2015, 11, 28, 8, 2, 15),
 datetime.datetime(2015, 2, 25, 11, 14, 48),
 datetime.datetime(2015, 11, 28, 0, 0, 45),
 datetime.datetime(2016, 4, 20, 13, 21, 29),
 datetime.datetime(2017, 7, 4, 7, 38, 17),
 datetime.datetime(2017, 5, 27, 3, 41, 16),
 datetime.datetime(2017, 9, 28, 21, 54, 29),
 datetime.datetime(2017, 7, 22, 17, 7, 34),
 datetime.datetime(2017, 5, 16, 6, 19, 38),
 datetime.datetime(2017, 3, 22, 21, 31, 1),
 datetime.datetime(2017, 6, 5, 0, 48, 33),
 datetime.datetime(2016, 12, 2, 4, 38, 47),
 datetime.datetime(2016, 9, 13, 18, 41, 20),
 datetime.datetime(2017, 3, 4, 15, 53, 14),
 datetime.datetime(2017, 9, 22, 4, 48, 25),
 datetime.datetime(2016, 7, 25, 18, 37, 12),
 datetime.datetime(2017, 11, 14, 15, 40, 39),
 datetime.datetime(2016, 1, 19, 12, 11, 7),
 datetime.datetime(2015, 3, 15, 1, 2, 4),
 datetime.datetime(2017, 12, 10, 1, 41, 57),
 datetime.datetime(2016, 12, 27, 9, 24, 18),
 datetime.datetime(2017, 10, 1, 10, 49, 38),
 datetime.datetime(2016, 8, 19, 9, 20, 21),
 datetime.datetime(2015, 1, 8, 6, 42, 13),
 datetime.datetime(2016, 7, 5, 23, 47, 39),
 datetime.datetime(2016, 11, 24, 1, 52, 25),
 datetime.datetime(2015, 6, 12, 21, 33, 2),
 datetime.datetime(2016, 2, 15, 7, 57, 16),
 datetime.datetime(2017, 8, 9, 12, 30, 2),
 datetime.datetime(2016, 4, 7, 15, 41, 29),
 datetime.datetime(2016, 4, 27, 2, 59, 51),
 datetime.datetime(2015, 4, 1, 13, 47, 37),
 datetime.datetime(2015, 1, 21, 10, 27, 28),
 datetime.datetime(2016, 6, 23, 14, 53, 58),
 datetime.datetime(2017, 11, 24, 2, 8, 47),
 datetime.datetime(2016, 11, 6, 14, 44, 11),
 datetime.datetime(2016, 3, 16, 22, 52, 16),
 datetime.datetime(2017, 3, 27, 14, 52, 31),
 datetime.datetime(2016, 8, 17, 19, 14, 48),
 datetime.datetime(2015, 10, 2, 18, 55, 19),
 datetime.datetime(2017, 11, 26, 10, 20, 3),
 datetime.datetime(2016, 11, 25, 15, 51, 15),
 datetime.datetime(2017, 2, 6, 1, 53, 30),
 datetime.datetime(2016, 11, 15, 16, 9, 6),
 datetime.datetime(2017, 1, 27, 15, 24, 19),
 datetime.datetime(2017, 1, 23, 17, 33, 23),
 datetime.datetime(2015, 7, 26, 4, 26, 32),
 datetime.datetime(2016, 7, 22, 17, 6, 28),
 datetime.datetime(2017, 3, 16, 14, 17, 37),
 datetime.datetime(2017, 9, 2, 9, 15, 49),
 datetime.datetime(2016, 3, 15, 15, 58, 27),
 datetime.datetime(2016, 1, 12, 11, 26, 34),
 datetime.datetime(2015, 1, 7, 5, 37, 56),
 datetime.datetime(2016, 7, 14, 2, 10, 32),
 datetime.datetime(2017, 10, 12, 21, 14, 44),

In [67]:
from timer import Timer

with Timer('ConvertDatesPy') as t:
    res = [pytz.timezone('US/Eastern').localize(r).astimezone(pytz.UTC) for r in pyDates]

with Timer('ConvertDatesNP') as t:
    res = dates.tz_localize('US/Eastern', nonexistent='shift_forward', ambiguous='NaT').tz_convert('UTC')  # if unclear, shift forward, if not a datetime, return NaT i.e. Not a Time

ImportError: cannot import name 'Timer' from 'timer' (D:\anaconda3\lib\site-packages\win32\timer.pyd)

In [ ]:
dates

In [ ]:
res

In [ ]:
# Add/Subtract business day
pd.to_datetime('2020.01.03') + pd.offsets.BDay()

In [ ]:
# Date ranges
pd.date_range('1/1/2010', periods=10, freq=2 * pd.offsets.BDay())

In [ ]:
#asfreq

In [ ]:
dayMinuteBars = tsla.history(period='2d', interval='1m')

In [ ]:
dayMinuteBars

In [ ]:
# volume weighted average price
def vwap(bars): 
    return ((bars.Close*bars.Volume).sum()/bars.Volume.sum()).round(2)

vwap(dayMinuteBars[dayMinuteBars.index.date==pd.to_datetime('2020-07-15')])

In [ ]:
dayMinuteBars.eval(
        'wgtd = Close * Volume', inplace=False
    ).groupby(dayMinuteBars.index.date).cumsum().eval('wgtd / Volume')

In [ ]:
vwap = dayMinuteBars.assign(  # create a calculator column
    vwap=dayMinuteBars.eval(
        'wgtd = Close * Volume', inplace=False  # interim column
    ).groupby(dayMinuteBars.index.date).cumsum().eval('wgtd / Volume')
).groupby(dayMinuteBars.index.date).agg({'vwap':lambda x: x.iloc[-1]})
vwap

In [ ]:
dayMinuteBars

In [ ]:
dayMinuteBars.index.to_series().diff().shift(-1)/ np.timedelta64(1, 'm')

In [ ]:
dayMinuteBars['TimeDiff'] = dayMinuteBars.index.to_series().diff().shift(-1)/ np.timedelta64(1, 's')
dayMinuteBars

In [ ]:
twap = dayMinuteBars.assign(
    twap=dayMinuteBars.eval(
        'wgtd = Close * TimeDiff', inplace=False
    ).groupby(dayMinuteBars.index.date).cumsum().eval('wgtd / TimeDiff')
).groupby(dayMinuteBars.index.date).agg({'twap':lambda x: x.iloc[-1]})
twap

#### Functionality

In [ ]:
tslaData.cumsum()

In [ ]:
tslaData['Volume'].cumsum()

In [ ]:
tslaData['CumVolume'] = tslaData['Volume'].cumsum()
tslaData

In [ ]:
tslaData['Volume'].cummax()  # running max over the entire table, useful to calculate drawdown

In [ ]:
tslaData['Volume'].cummin()

In [ ]:
tslaData['Volume'].cumprod()  # cumulative product

In [ ]:
# useful to calculate moving avg
tslaData['Volume'].rolling(10).sum() # sum, mean, median, var, std, min, max, corr, cov, skew, kurt, quantile

In [ ]:
zscore = lambda x: (x[-1] - x.mean()) / x.std(ddof=1)
tslaData['Volume'].rolling(10).apply(zscore)

In [ ]:
# Expanding is very similar to cumulative, but 'waits' (NaN) until the minimum number specified

tslaData['Volume'].expanding(10).sum() # sum, mean, median, var, std, min, max, corr, cov, skew, kurt, quantile

In [ ]:
# Exponential weighted moving average
tslaData['Volume'].ewm(2).mean() # std, var, corr, cob

In [ ]:
# Deltas
tslaData['OpenDelta'] = tslaData.Open.diff().shift(-1)
tslaData

In [ ]:
# Deltas
tslaData['OpenDelta'] = tslaData.Open.diff() # .shift(-1)
tslaData