# CSV

In [7]:
import pandas as pd
pd.read_csv('tsla_data.csv')

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
1,2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2,2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
3,2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
4,2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...,...
2589,2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2590,2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2591,2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2592,2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2593,2020-10-15,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

# yfinance

In [2]:
import yfinance as yf
tsla = yf.Ticker("TSLA")

In [5]:
# dir(tsla)
x = tsla.history(period="max")
x

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,3.800000,5.000000,3.508000,4.778000,93831500,0,0.0
2010-06-30,5.158000,6.084000,4.660000,4.766000,85935500,0,0.0
2010-07-01,5.000000,5.184000,4.054000,4.392000,41094000,0,0.0
2010-07-02,4.600000,4.620000,3.742000,3.840000,25699000,0,0.0
2010-07-06,4.000000,4.000000,3.166000,3.222000,34334500,0,0.0
...,...,...,...,...,...,...,...
2020-10-09,430.130005,434.589996,426.459991,434.000000,28925700,0,0.0
2020-10-12,442.000000,448.739990,438.579987,442.299988,38791100,0,0.0
2020-10-13,443.350006,448.890015,436.600006,446.649994,34463700,0,0.0
2020-10-14,449.779999,465.899994,447.350006,461.299988,48045400,0,0.0
2020-10-15,450.309998,456.570007,442.500000,448.880005,35554200,0,0.0

In [8]:
x.to_csv('tsla_data.csv')

In [9]:
tsla.institutional_holders

                        Holder    Shares Date Reported   % Out        Value
0  Baillie Gifford and Company  58856065    2020-06-29  0.0635  12710673509
1      Capital World Investors  53390465    2020-06-29  0.0576  11530311602
2   Vanguard Group, Inc. (The)  44264185    2020-06-29  0.0478   9559381920
3               Blackrock Inc.  38598840    2020-06-29  0.0416   8335882684
4                     FMR, LLC  23546700    2020-06-29  0.0254   5085192425
5      Jennison Associates LLC  19343710    2020-06-29  0.0209   4177506299
6     State Street Corporation  15835650    2020-06-29  0.0171   3419898645
7    JP Morgan Chase & Company  13754295    2020-06-29  0.0148   2970405056
8    Goldman Sachs Group, Inc.   9942455    2020-06-29  0.0107   2147192466
9                   BAMCO Inc.   8085050    2020-06-29  0.0087   1746063568

In [10]:
tsla.major_holders

        0                                      1
0  20.51%        % of Shares Held by All Insider
1  57.93%       % of Shares Held by Institutions
2  72.87%        % of Float Held by Institutions
3    1319  Number of Institutions Holding Shares

In [11]:
tickers = yf.Tickers('msft aapl goog')

In [12]:
tickers.history().head()

[*********************100%***********************]  3 of 3 completed

                 Close                          Dividends            \
                  AAPL         GOOG        MSFT      AAPL GOOG MSFT
Date
2020-09-16  112.129997  1520.900024  205.050003         0    0    0
2020-09-17  110.339996  1495.530029  202.910004         0    0    0
2020-09-18  106.839996  1459.989990  200.389999         0    0    0
2020-09-21  110.080002  1431.160034  202.539993         0    0    0
2020-09-22  111.809998  1465.459961  207.419998         0    0    0

                  High                                  Low  ...              \
                  AAPL         GOOG        MSFT        AAPL  ...        MSFT
Date                                                         ...
2020-09-16  116.000000  1562.000000  210.649994  112.040001  ...  204.639999
2020-09-17  112.199997  1508.297974  204.330002  108.709999  ...  199.960007
2020-09-18  110.879997  1503.003052  203.649994  106.089996  ...  196.250000
2020-09-21  110.190002  1448.359985  202.710007  103.099998  ...  196.380005
2020-09-22  112.860001  1469.520020  208.100006  109.160004  ...  202.080002

                  Open                          Stock Splits            \
                  AAPL         GOOG        MSFT         AAPL GOOG MSFT
Date
2020-09-16  115.230003  1555.540039  210.619995            0    0    0
2020-09-17  109.720001  1496.000000  200.050003            0    0    0
2020-09-18  110.400002  1498.010010  202.800003            0    0    0
2020-09-21  104.540001  1440.060059  197.190002            0    0    0
2020-09-22  112.680000  1450.089966  205.059998            0    0    0

               Volume
                 AAPL     GOOG      MSFT
Date
2020-09-16  154679000  1311700  26328100
2020-09-17  178011000  1879800  34011300
2020-09-18  287104900  3103900  55225300
2020-09-21  195713800  2888800  39839700
2020-09-22  183055400  1583200  33517100

[5 rows x 21 columns]

# quandl

In [21]:
import quandl
quandl.ApiConfig.api_key = ''
mydata = quandl.get_table('ZACKS/FC', ticker='AAPL')

display(mydata)

,m_ticker,ticker,comp_name,comp_name_2,exchange,currency_code,per_end_date,per_type,per_code,per_fisc_year,...,stock_based_compsn_qd,cash_flow_oper_activity_qd,net_change_prop_plant_equip_qd,comm_stock_div_paid_qd,pref_stock_div_paid_qd,tot_comm_pref_stock_div_qd,wavg_shares_out,wavg_shares_out_diluted,eps_basic_net,eps_diluted_net
None,,,,,,,,,,,,,,,,,,,,,
0,AAPL,AAPL,APPLE INC,Apple Inc.,NSDQ,USD,2018-09-30,A,None,2018,...,NaN,NaN,NaN,NaN,None,NaN,19821.51,20000.44,3.0025,2.9775
1,AAPL,AAPL,APPLE INC,Apple Inc.,NSDQ,USD,2018-03-31,Q,None,2018,...,1348.0,15130.0,-4195.0,-3190.0,None,-3190.0,20099.51,20273.97,0.6875,0.6825
2,AAPL,AAPL,APPLE INC,Apple Inc.,NSDQ,USD,2018-06-30,Q,None,2018,...,1351.0,14488.0,-3267.0,-3653.0,None,-3653.0,19528.67,19706.44,0.5900,0.5850
3,AAPL,AAPL,APPLE INC,Apple Inc.,NSDQ,USD,2018-09-30,Q,None,2018,...,1345.0,19523.0,-3041.0,-3530.0,None,-3530.0,19821.51,20000.44,0.7450,0.7375
4,AAPL,AAPL,APPLE INC,Apple Inc.,NSDQ,USD,2018-12-31,Q,None,2019,...,1559.0,26690.0,-3355.0,-3568.0,None,-3568.0,18943.28,19093.01,1.0550,1.0450

In [22]:
display(quandl.get('WIKI/TSLA', row=5))

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2010-06-29,19.00,25.0000,17.54,23.89,18766300.0,0.0,1.0,19.00,25.0000,17.54,23.89,18766300.0
2010-06-30,25.79,30.4192,23.30,23.83,17187100.0,0.0,1.0,25.79,30.4192,23.30,23.83,17187100.0
2010-07-01,25.00,25.9200,20.27,21.96,8218800.0,0.0,1.0,25.00,25.9200,20.27,21.96,8218800.0
2010-07-02,23.00,23.1000,18.71,19.20,5139800.0,0.0,1.0,23.00,23.1000,18.71,19.20,5139800.0
2010-07-06,20.00,20.0000,15.83,16.11,6866900.0,0.0,1.0,20.00,20.0000,15.83,16.11,6866900.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-03-21,310.25,322.4400,310.19,316.53,5927881.0,0.0,1.0,310.25,322.4400,310.19,316.53,5927881.0
2018-03-22,313.89,318.8200,308.18,309.10,4914307.0,0.0,1.0,313.89,318.8200,308.18,309.10,4914307.0
2018-03-23,311.25,311.6100,300.45,301.54,6600538.0,0.0,1.0,311.25,311.6100,300.45,301.54,6600538.0
2018-03-26,307.34,307.5900,291.36,304.18,8324639.0,0.0,1.0,307.34,307.5900,291.36,304.18,8324639.0
2018-03-27,304.00,304.2700,277.18,279.18,13696168.0,0.0,1.0,304.00,304.2700,277.18,279.18,13696168.0

# DataReader

In [23]:
import pandas_datareader as pdr

In [24]:
tsla = pdr.DataReader('TSLA',
                      start='2020-1-1',
                      end='2020-12-31',
                      data_source='yahoo')['Adj Close']
tsla

Date
2020-01-02     86.052002
2020-01-03     88.601997
2020-01-06     90.307999
2020-01-07     93.811996
2020-01-08     98.428001
                 ...
2020-10-09    434.000000
2020-10-12    442.299988
2020-10-13    446.649994
2020-10-14    461.299988
2020-10-15    448.880005
Name: Adj Close, Length: 200, dtype: float64

In [29]:
import os

import pandas_datareader.data as web

f = web.DataReader('USD/JPY', 'av-forex',
                  api_key=os.getenv('ALPHAVANTAGE_API_KEY'))

ValueError: The AlphaVantage API key must be provided either through the api_key variable or through the environment variable ALPHAVANTAGE_API_KEY

# sportsreference

In [35]:
from sportsreference.nba.teams import Teams

teams = Teams()
for team in teams:
    print(team.name, team.abbreviation)

HTTPError: HTTP Error 404: Not Found